{% extends 'base.html.twig' %}

{% block title %}
   Energy Solution Tool- Start Now
{% endblock %}

{% block header %}
  {% embed '/includes/header.html.twig' %}
    {% block bannerarea %}

    {% endblock %}
  {% endembed %}
{% endblock %}

{% block flourishClasses %}

{% endblock %}

{% block body %}
<div class="govuk-width-container">
   <div class="govuk-phase-banner">
      {% include '/includes/phase-banner-content.html.twig' %}
   </div>
   <main class="govuk-main-wrapper" id="main-content">
      <section>
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl page-title">Find the right energy solution for you</h1>
               <p class="govuk-body page-intro">Answer a few short questions to see which of our 5 energy solutions could meet your needs.</p>
               <h2 class="govuk-heading-m">Before you start</h2>
               <p class="govuk-body">It may be helpful to know the following information (but this is not essential):</p>
               <ul class="govuk-list govuk-list--bullet">
                  <li>the product or service you need</li>
                  <li>the sector or organisation you are buying for</li>
                  <li>your estimated budget</li>
                  <li>if you are buying a service, an estimated length of contract and location of where the work needs to take place</li>
               </ul>
               <a href={{ path("energy_question") }} role="button" class="govuk-button govuk-button--start govuk-!-margin-top-6 govuk-!-margin-bottom-9" data-module="govuk-button">Start now</a>
            </div>
         </div>
      </section>
   </main>
</div>
{% endblock %}
