{% extends 'base.html.twig' %}

{% block title %}Access Whitepaper - {{ whitepaper.title|raw }} - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{# Remove colour flourishes from this page #}
{% block flourishClasses %}{% endblock %}


{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl page-title page-title--tight">You can now download this whitepaper</h1>

                    {#<div class="page-intro page-intro--tight"><p>Your details have been submitted and you can now download the whitepaper.</p></div>#}

                    {% if whitepaper.content.whitepaper_file.url is defined and whitepaper.content.whitepaper_file.url is not empty %}
                        <p><a class="download-file-link" href="{{ whitepaper.content.whitepaper_file.url }}">{{ whitepaper.title|raw }} ({{ whitepaper.content.whitepaper_file.filesize }})</a></p>
                    {% endif %}
                </div>
            </div>
        </main>

    </div>

    {% include 'forms/dataLayer_component/_form_submit.html.twig' with {'formName': "Gated form" } %}

{% endblock %}
