{% if page == "upcoming" %}

<aside class="aside">
    <div class="apollo-enclosure">
        <h2 class="aside__heading">Contact</h2>

        <p> {{ cscMessage | raw}}</p>

        <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Contact form</h3>
        <p><a href="/contact">Complete contact form</a></p>
        
        <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Telephone:</h3>
        <p><a href="tel:03454102222">0345 410 2222</a></p>
    </div>

    <div class="apollo-enclosure">
        <h2 class="aside__heading">Download Pipeline report</h2>
        <p>See our commercial agreement pipeline for a full list of agreements, including those <a href= {{upcoming_deals_content.upcomingDealsInfo.file}} >due to go live in the next 3 years</a></p>
    </div>

    <div class="apollo-enclosure">
        <h2 class="aside__heading">Helpful Links</h2>
        <ul class="govuk-list">
            <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/glossary">Glossary</a></li>
            <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/start-buying">How to buy</a></li>
            <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/start-supplying">How to supply</a></li>
            <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/transforming-public-procurement">Transforming Public Procurement</a></li>
            <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/news/?&categories=168&page=1">Procurement Essentials</a></li>

        </ul>
    </div>
</aside>

{% else %}
<aside class="aside">
    <div class="apollo-enclosure">
        <h2 class="aside__heading">Helpful Links</h2>
        <ul class="govuk-list">
            <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/glossary">Glossary</a></li>
            <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/start-buying">How to buy</a></li>
            <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/start-supplying">How to supply</a></li>
            <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/transforming-public-procurement">Transforming Public Procurement</a></li>
            <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/news/?&categories=168&page=1">Procurement Essentials</a></li>

        </ul>
    </div>

    <div class="apollo-enclosure">
        <h2 class="aside__heading">Do you need help requesting agreement pricing?</h2>
        <p>If pricing is available you will find instructions on how to access pricing in the 'how to buy' section on the individual agreement webpage.</p>
    </div>
</aside>


{% endif %}