 <div>
    <h3>Carbon Reduction</h3>
    <p>
        All suppliers have committed to comply with Procurement Policy Note 006,  
        <a href="https://www.gov.uk/government/publications/ppn-006-taking-account-of-carbon-reduction-plans-in-the-procurement-of-major-government-contracts" class="govuk-link">'Taking account of Carbon Reduction Plans in the procurement of major government contracts'</a>
        as required. If a supplier is required to publish a carbon reduction plan, you can find it on their individual supplier details page.
    </p>
</div>