<div>
    <h2 class="govuk-heading-m" id="ataglance">At a glance</h2>
    <div class="govuk-tabs" data-module="govuk-tabs">

    <ul class="govuk-tabs__list" role="tablist">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
            <a class="govuk-tabs__tab" href="#desc" id="tab_desc" role="tab" aria-controls="desc" aria-selected="true" tabindex="0">Description</a>
        </li>

		<li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#benefits" id="tab_benefits" role="tab" aria-controls="benefits" aria-selected="false" tabindex="-1">Benefits</a>
        </li>

        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#nottousefor" id="tab_nottousefor" role="tab" aria-controls="nottousefor" aria-selected="false" tabindex="-1">When you can't use this agreement</a>
        </li>

        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#key-facts" id="tab_key-facts" role="tab" aria-controls="key-facts" aria-selected="false" tabindex="-1">How to buy</a>
        </li>
    </ul>
  
  
	<div class="govuk-tabs__panel" id="desc" role="tabpanel" aria-labelledby="tab_desc">

		<p class="govuk-body">You can use this agreement to access cost effective consultancy advice from a range of suppliers across 9 lots:</p>
		<ul class="govuk-list govuk-list--nobullet ccs-join-schedule-list">
			<li>lot 1: business</li>
			<li>lot 2: strategy and policy</li>
			<li>lot 3: complex and transformation</li>
			<li>lot 4: finance</li>
			<li>lot 5: HR</li>
			<li>lot 6: procurement and supply chain</li>
			<li>lot 7: health, social care and community</li>
			<li>lot 8: infrastructure including transport</li>
			<li>lot 9: environmental sustainability and socio-economic development</li>
		</ul>
		<p class="govuk-body">For a more detailed description, <a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM6187-MCF3-Lot-descriptions.pdf">read the lot description document</a>.</p><br>
		<p class="govuk-body">This agreement will run for 4 years and there will be no option to extend.</p>
		<p class="govuk-body">There is no maximum length for a call off contract under this agreement, but we recommend it should not be longer than 4 years.</p>


	</div>


	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="nottousefor" role="tabpanel" aria-labelledby="tab_nottousefor">
		<p class="govuk-body">MCF3 should not be used for the following types of procurement:</p>
		<ul class="govuk-list govuk-list--nobullet ccs-join-schedule-list">
			<li><strong>Contingent Labour (Contractors)</strong><br>For contingent labour (contractors) you will need to use RM3749 Public Sector Resourcing</li>
			<li><strong> Technology Services 3</strong><br>For hosting, support and maintenance of existing live applications you need to use RM6100 Technology Services 3</li>
			<li><strong> Estate Management Services</strong><br>For end to end property management services including consultancy and disposal use <a class="govuk-link govuk-link--novisitedstate" href="https://www.crowncommercial.gov.uk/agreements/RM6168">RM6168 Estate management services.</a></li>
			<li>  <strong> Project Management and Full Design Team Services </strong><br>  For project management, design, advise and other services to support delivery of property and constructions projects, including environmental services use <a class="govuk-link govuk-link--novisitedstate" href="https://www.crowncommercial.gov.uk/agreements/RM3741">RM3741 Project Management and Full Design Team Services.</a></li> 
			<li>  <strong>Non Clinical Temporary and Fixed Term Staff</strong><br> For temporary and fixed term roles in roles like admin, clerical, catering and maintenance use <a class="govuk-link govuk-link--novisitedstate" href="https://www.crowncommercial.gov.uk/agreements/RM6160">RM6160 Non Clinical Temporary and Fixed Term Staff.</a> </li>
			<li><strong>Flexible Resource Pool - Staff Bank</strong><br> For staff bank services for NHS contracting authorities use <a class="govuk-link govuk-link--novisitedstate" href="https://www.crowncommercial.gov.uk/agreements/RM6158">RM6158 Flexible Resource Pool - Staff Bank.</a></li>
		</ul>
		<p class="govuk-body">If you need more information contact our customer service centre on 0345 410 2222</p>	
	</div>
    
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="key-facts" role="tabpanel" aria-labelledby="tab_key-facts">
		<p class="govuk-body">You can use further competition or direct award to buy from this agreement.</p>
		<p class="govuk-body">Further competition is the default route to market. If you want to use direct award, make sure you get legal advice to confirm that this is a compliant route to market for your circumstances.</p>
	</div>
    
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="benefits" role="tabpanel" aria-labelledby="tab_benefits">
		<h3 class="govuk-heading-s">Benefits of using this agreement:</h3>
		<ul class="govuk-list govuk-list--bullet">
			<li>wide range of suppliers from SMEs to large multinationals</li>
			<li>all suppliers are <a href="https://www.cyberessentials.ncsc.gov.uk/">Cyber Essentials accredited</a></li>
			<li>standard terms and conditions</li>
			<li>competitive market rates</li>
			<li>maximum rates fixed for the life of the agreement and your project providing budgetary control</li>
			<li>no minimum or maximum value thresholds this means you can use the agreement regardless of project size</li>
			<li>comprehensive customer guidance and templates</li>
			<li>choice of pricing models including: time and materials, fixed, or risk and reward</li>
			<li>a tool to help you shortlist suitable suppliers</li>
			<li>dedicated and knowledgeable contract management team to support you</li>
		</ul>
	</div>

</div>
</div>