<div>
    <h2 class="govuk-heading-m" id="ataglance">At a glance</h2>
    <div class="govuk-tabs" data-module="govuk-tabs">

    <ul class="govuk-tabs__list" role="tablist">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
            <a class="govuk-tabs__tab" href="#desc" id="tab_desc" role="tab" aria-controls="desc" aria-selected="true" tabindex="0">Description</a>
        </li>

        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#nottousefor" id="tab_nottousefor" role="tab" aria-controls="nottousefor" aria-selected="false" tabindex="-1">When you can’t use this agreement</a>
        </li>

        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#key-facts" id="tab_key-facts" role="tab" aria-controls="key-facts" aria-selected="false" tabindex="-1">Contract length</a>
        </li>

        <li class="govuk-tabs__list-item" role="presentation">
            <a class="govuk-tabs__tab" href="#benefits" id="tab_benefits" role="tab" aria-controls="benefits" aria-selected="false" tabindex="-1">Benefits</a>
        </li>
    </ul>
  
  
	<div class="govuk-tabs__panel" id="desc" role="tabpanel" aria-labelledby="tab_desc">
		<p class="govuk-body"><strong>When to use this agreement</strong></p>
		<p class="govuk-body">You can use this agreement to find people with the full range of Digital, Data and
			Technology (DDaT) skills needed for a digital transformation/capability project, or to supply individual DDaT
			staff to work as part of an existing team or new team you’re setting up.</p>
		<p class="govuk-body">A digital transformation project might include redesigning an existing service, or designing
			a whole new service for your users or your internal teams, for example. It may involve rethinking about how an
			organisation could use technology, people or processes to create new business models or new revenue streams for
			the organisation (for example, building mobile applications or ecommerce platforms)</p>
		<p class="govuk-body">You might want to hire staff with DDaT skills to integrate into your organisation and help
			to achieve strategic objectives through a single project or multiple projects that may involve user research,
			design or building and supporting the service, for example.</p>
		<p class="govuk-body">You may also need DDaT staff for any strategic objectives or scope of services that have no
			clearly defined outcomes or deliverables that will enable digital transformation.</p>
		<p class="govuk-body">Products and services that are out of scope include (but are not limited to)non Digital,
			Data and Technology roles. <a href="#nottousefor"><strong>You can find out more information about what you
			cannot use this agreement for</strong></a>.</p>
		<p class="govuk-body">Buyers can find teams of digital specialists based on Digital, Data and Technology (DDaT)
			role definitions that meet the skills and competencies in the <a href="#" class="govuk-link--no-visited-state govuk-link" onclick="return false;"><strong>Skills Framework for the
			Information Age (SFIA).</strong></a></p>
		
		<br>
		
		<p class="govuk-body"><strong>Buyers can choose to use the following accountability models in their procurement:</strong></p>
		<ul class="govuk-list govuk-list--bullet">
			<li><strong>Sole responsibility:</strong> the supplier takes full responsibility to deliver any milestones that
				the buyer needs to achieve. This is similar to the “outcomes” model available through RM1043.7 DOS 5 (digital
				outcomes and specialists 5). The supplier will need to accept the full risk or responsibility for delivery.
			</li>
			<li><strong>Self directed teams:</strong> delivery teams will produce work that is requested by the buyer. This
				type of accountability model suits buyer-led agile development where the specifics of what will be delivered
				by the supplier is agreed closer to the point of delivery. Some of the risk is carried by the supplier</li>
			<li><strong>Rainbow teams:</strong> where the supplier (or more than one supplier) provides a team of people to
				work alongside their existing staff. In this model the people, while managed at a high level by the supplier,
				may also be given direction at an operational level by someone from another organisation.</li>
		</ul>

		<p class="govuk-body"><strong>Further Information</strong></p>
		<p class="govuk-body">This agreement complements the future version of RM1043.8 DOS (Digital Outcomes and Specialists) and Lot 2 Specialists won’t be available from RM1043.8.</p>
		<p class="govuk-body">You can buy from lot 1 and 2 using a one or two stage further competition. You can only buy using direct award for lot 2. You cannot use an Auction to buy from this agreement.</p>
	</div>
    
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="nottousefor" role="tabpanel" aria-labelledby="tab_nottousefor">
		<p class="govuk-body">DSP should not be used for the following types of procurement:</p>
		<h3 class="govuk-heading-s">Health care sector buyers</h3>
		<p class="govuk-body">Health sector should continue to use <a href="#" onclick="return false;">RM6221 Digital Capability for Health (DCFH)</a> </p>
		<h3 class="govuk-heading-s">Hosting, Support and Maintenance of Existing Live Applications Services </h3>
		<p class="govuk-body">For hosting, support and maintenance of existing live applications you need to use <a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;">RM6100 Technology Services 3 </a> </p>
		<h3 class="govuk-heading-s">Contingent Labour (Contractors)</h3>
		<p class="govuk-body">For contingent labour (contractors) you will need to use <a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"> RM3749 Public Sector Resourcing</a> </p>
		<p class="govuk-body">If you need more information contact our customer service centre on 0345 410 2222</p>
	</div>
    
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="key-facts" role="tabpanel" aria-labelledby="tab_key-facts">
		<p class="govuk-body"><strong>Lot 1:</strong> can be up to 4 years with the option for extension of 1 year or 25% of the original term you agree with the supplier</p>
		<p class="govuk-body"><strong>Lot 2:</strong> can be up to 2 years with the option for extension of 6 months or 25% of the original term you agree with the supplier.</p>
	</div>
    
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="benefits" role="tabpanel" aria-labelledby="tab_benefits">
		<h3 class="govuk-heading-s">Benefits of using this agreement:</h3>
		<ul class="govuk-list govuk-list--bullet">
			<li>further competition provides best value for money</li>
			<li>allows customers to buy the most up to date services in the market</li>
			<li>ability to develop strategic partnership relationships with suppliers to improve services</li>
			<li>quicker and simpler procurement process via direct award (Lot 2 only) and further competition (single or two-stage)</li>
		</ul>
	</div>

</div>
</div>