<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl page-title cat-agrement-page-title">Digital Specialists and Programmes</h1>
        <p class="govuk-body-s agreement-subtitle">Individual Digital, Data and Technology (DDaT) specialist roles and end-to-end digital transformation programmes</p>

                                
        <div>
            <p class="govuk-body agreement-overview">Agreement number: <strong> RM6263 </strong></p>
            <p class="govuk-body agreement-overview">Start date: <strong> 20 April 2022 </strong></p>
            <p class="govuk-body agreement-overview">End date: <strong> 19 January 2024 </strong></p>
        </div>

        <div class="govuk-inset-text">
            <p>
                <b>You can now procure online with CCS.</b> </br>
                Please go to Products and Services and <a href="#agreement-lots" class="govuk-link govuk-link--no-visited-state">select a lot to start.</a></p>
            </p>
        </div>

        <p ><strong>Available for:</strong> Central government and all other UK public sector bodies, including local authorities, health, police, fire and rescue, education and devolved administrations.</p> </br>


        <h2 class="govuk-heading-s">Updates</h2>
        <p class="govuk-body"><strong>01 October 2021 : </strong> This framework has been extended for another 12 months until 7 November 2022</p>
        <br>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Show previous updates</span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body grey-margin-bottom"><strong>31 July 2021  : </strong>The General Data Protection Regulation (GDPR) was implemented on 25th May 2018. The Crown Commercial Service has updated all relevant agreements and the call off contract templates to include the necessary GDPR clauses. We have done this through a contract variation. Suppliers who have accepted the contract variation are listed in the Supplier Matrix on the <a href="#documents">‘Documents'</a> tab below. Find out more about what CCS did to get ready for GDPR. <br><br></p>            
                <p class="govuk-body grey-margin-bottom"><strong>22 June 2021 : </strong><strong>Conference:</strong> Come and meet the team and find out more about this framework at our conference in the Excel centre in London on Tuesday 7 July 2021. To register for your place, <a href="#">please sign up here.</a> <br><br></p>
            </div>
        </details>

        </br>

        <div>
          <h3 class="govuk-heading-s" id="contents">Contents</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li> <a class="govuk-link govuk-link--no-visited-state" href="#ataglance">At a glance</a></li>
            <li> <a class="govuk-link govuk-link--no-visited-state" href="#products">Products and suppliers</a></li>
            <li> <a class="govuk-link govuk-link--no-visited-state" href="#documents">Documents</a></li>
            <li> <a class="govuk-link govuk-link--no-visited-state" href="#benefitsofccs">The benefits of using CCS</a>
            </li>
          </ul>
        </div>

        </br>

        {% include 'frameworks/at-a-glance-for-RM6263.html.twig'%}

        </br>


        <h2 class="govuk-heading-m" id="products">Products and suppliers</h2>

        <div class="govuk-inset-text">
            <p ><strong>You can now procure online with CCS.</strong> <br>Please select a lot to start</p>
        </div>

        <div class="grey-margin-bottom" id="agreement-lots"></div>
        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
            <dt class="apollo-list--definition__key">
                <span class="apollo-list--definition__key__inner"><a href="#">Lot 1 Programmes</a></span>
            </dt>
            <dd class="apollo-list--definition__value">
                <p >Deliver strategic objectives through a single project or groups of projects that involve:</p><ul class="govuk-list govuk-list--bullet"><li>research</li><li>test</li><li>design</li><li>build</li><li>release</li><li>iteration</li><li>support</li><li>closing down digital services</li><li>outcomes</li><li>deliverables</li></ul><p >Staff supplied could work in DevOps Services, Digital Definition Services, Build and Transition Services, End-to-End Development Services, and Data Management Services (and similar).</p>
                <p >You can explain what resource or outcome you need in the Statement of Requirements.</p>
                <p><strong>Expiry date:</strong><time>DD month YYYY</time> </p>
                <p>Take a look at and download the <a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;">lot supplier list (xx suppliers)</a></p>
            </dd>
        </dl>

        <dl class="apollo-list apollo-list--definition grey-margin-bottom">
            <dt class="apollo-list--definition__key">
                <span class="apollo-list--definition__key__inner"><a href="#">Lot 2 Specialists</a></span>
            </dt>
            <dd class="apollo-list--definition__value">
                <p >Individual DDaT specialists in a specific role (for example, delivery manager, product manager, business analyst, content design or user researcher) identified role (or roles) to deliver a specific outcome (or specific outcomes) on a service, programme and/or project. </p>
                <p >You can explain what roles you need in the Statement of Requirements.</p> <br><br>
                <p><strong>Expiry date:</strong><time>DD month YYYY</time> </p>
                <p>Take a look at and download the <a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;">lot supplier list (xx suppliers)</a></p>
            </dd>
        </dl>


        <div>
            <h2 class="govuk-heading-m" id="documents">Documents</h2>

            <p>You might not need all of the documents below to buy the services from this agreement, </p>
            <p>If you're not sure what documents you need, when and how to use them, open each of the sections below to read a description of the document.</p>
        </div>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Buyers Guide</span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p >The document section below is listed in the order you might need to use each set of documents. There are also a set of guides to help you further.</p>
                    <ul class="govuk-list">
                        <li><a class="govuk-link govuk-link--no-visited-state" href="#">RM6263 Customer guide</a></li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="#">RM6263 Call-off procedure guide</a></li>
                        <li><a class="govuk-link govuk-link--no-visited-state" href="#">RM6263 Call-off and join schedule guide</a></li>
                    </ul>
                </div>
            </div>


            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Standard terms and conditions</span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p>The core terms are CCS's standard commercial terms. They govern the supplier's relationship with CCS and every buyer who has a call-off contract.</p>
                    <p>These terms form part of the framework and call-off contracts. They must be used on every contract and cannot be changed.</p>
                </div>
            </div>

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Order form</span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p>A call-off contract is an agreement between a supplier and buyer for the provision of services, goods or works. These contracts form part of a Framework Agreement.</p>
                    <p>It is a stage that suppliers need to pass before they can start working with a public sector buyer.</p>
                </div>
            </div>

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Joint schedules</span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    
                    <p class="agreement-overview">Joint Schedule 1</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>(Definitions):</strong></a>
                    this is an essential element of your contract defining significant words and phrases used in the Core Terms and template schedules. 
                    You should augment the basic content with any new definitions specifically required for your contract, documenting these as Special Terms in your Order Form.</p>

                    <p class="joint-schedule-title">Joint Schedule 2</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>Variation Form:</strong></a>
                    a necessary element for your contract, defining the format for formally documenting contract changes.</p>

                    <p class="joint-schedule-title">Joint Schedule 3</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>Insurance Requirements:</strong></a>
                    an essential schedule that captures the supplier's basic obligations in respect of required insurances at the framework level, and mandating that the supplier must provide any additional insurances that you specify in your Order Form.</p>

                    <p class="joint-schedule-title">Joint Schedule 4</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>Commercially Sensitive Information: </strong></a>
                    you should ask your supplier to tell you if any of the information they provided is commercially sensitive such that they would not want it disclosed in response to a Freedom of Information (FOI) request. 
                    The response will provide the content for this schedule but ultimately it will be your decision as to whether the relevant information would be withheld if a pertinent FOI request was received.</p>

                    <p class="joint-schedule-title">Joint Schedule 5</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>Corporate Social Responsibility:</strong></a>
                    this is a core schedule that sets out basic corporate social responsibility (CSR) or /social value requirements applicable to all suppliers in the Framework. 
                    You may have your own CSR or social value requirements to be included in your contract where you have specified as part of a competition that these must be satisfied.</p>

                    <p class="joint-schedule-title">Joint Schedule 6</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>Key Sub-Contractors</strong> [Optional]:</a>
                    this will only be required where the supplier uses one or more key-subcontractors to fulfil its obligations under your contract.</p>

                    <p class="joint-schedule-title">Joint Schedule 7</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>Financial Difficulties</strong> [Optional]:</a>
                    this Schedule will apply in relation to the assessment of the financial standing of the Monitored Companies and the consequences of a change to that financial standing.</p>

                    <p class="joint-schedule-title">Joint Schedule 8</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>Guarantee</strong> [Optional]:</a>
                    you may choose to use this schedule where the financial status of your supplier is such that you want the assurance provided by a third party guarantor that the supplier's obligations will be performed.</p>

                    <p class="joint-schedule-title">Joint Schedule 10</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>Rectification Plan:</strong></a>
                    an essential schedule that defines the format for any rectification plan that your supplier may have to provide in the event that you experience a supplier default.</p>

                    <p class="joint-schedule-title">Joint Schedule 11</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>Processing Data:</strong></a>
                    this schedule is needed to address any processing of personal data associated with the performance of your contract. 
                    Normally, in terms of data protection rules the buyer will be the controller, specifying the purpose and means of processing personal data; while the supplier will be the processor, carrying out such processing under the instructions of the controller. 
                    Under such circumstances you will need to clearly set out the processing of personal data that you authorise the supplier to undertake in the data processing template provided in the schedule.</p>
                    <ul>
                        <li><p>Under certain circumstances the buyer and the supplier may determine that they have a joint controller relationship in respect of the processing of certain personal data in relation to an order contract. Where this is the case Annex 2 of the schedule must be used to govern such a relationship, and the data to which such a relationship applies must be documented in the data processing template.</p></li>
                        <li><p>Finally, there may be circumstances under which, for certain personal data, the supplier will maintain that they will be the controller without the buyer being either a joint controller or processor. Under such circumstances this should be reflected in the completed data processing template.</p></li>
                    </ul>

                    <p class="joint-schedule-title">Joint Schedule 12</p>
                    <p><a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;"><strong>Supply Chain Visibility</strong> [Optional]:</a>
                    this schedule will be used if you wish to require your Supplier to advertise Sub-Contract Opportunities throughout the duration of your contract.</p>
                </div>
            </div>

        </div>

        </br>

        <div>
            <h2 class="govuk-heading-m" id="benefitsofccs">The benefits of using CCS</h2>
            <p class="responsive-video widescreen"><iframe title="An overview of CCS in 30 seconds" src="https://www.youtube-nocookie.com/embed/_p61ZX4zQHU" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315"></iframe></p>
        </div>

        <div class="app-c-print-link">
            <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">Print this page</button>
        </div>

    </div>

    <div class="govuk-grid-column-one-third">

        <aside class="aside">
            <div class="apollo-enclosure">
                <h2 class="aside__heading">Contact</h2>
                <p >You can contact us by email, phone or using the <a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;">enquiry form</a>.</p>

                <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Email:</h3>
                <p ><a href="mailto:info@crowncommercial.gov.uk">info@crowncommercial.gov.uk</a></p>

                <h3 class="govuk-!-font-size-16 ccs-font-weight-semibold govuk-!-margin-0">Telephone:</h3>
                <p ><a href="tel:03454102222">0345 410 2222</a></p>

                <p >CCS customer services team is available Monday to Friday, 9am to 5pm.</p>
            </div>

            <div class="apollo-enclosure">
                <a href="" title="Access the Buying digital services in the public sector whitepaper"><img src="https://assets.crowncommercial.gov.uk/wp-content/uploads/6612-21-CNZ-vector-car-web-header-640x427.jpg" alt=""></a>
                <h2 class="aside__heading">Buying digital services in the public sector</h2>
                <p >Find out how to get the right solution for your cloud or digital requirements. </br>
                    <a class="govuk-link govuk-link--no-visited-state" href="#" onclick="return false;">Access whitepaper</a>
                </p>
            </div>
        </aside>
    </div>
</div>
