<h2>{{ framework.content.title }}</h2>

{# see https://studio24.github.io/frontend/templating/content-fields.html #}
<p>{{ framework.content.rm_number }}</p>

{# see https://studio24.github.io/frontend/templating/debugging.html #}
{{ dump(framework) }}
