<h2 class="govuk-footer__heading govuk-!-font-size-22">{{ menu.name }}</h2>

<ul class="govuk-list govuk-!-font-size-18">
    {% for menu_item in menu.children %}
        <li>
            <a class="govuk-footer__link" href="{{ menu_item.url }}">{{ menu_item.label }}</a>
        </li>
    {% endfor %}
</ul>
