
{% if inlineMenu %}
    <ul class="govuk-footer__inline-list govuk-!-display-none-print govuk-list govuk-!-font-size-16">
        {% include 'menus/sub-menu.html.twig' with {'menu_list': menu.children, inlineMenu: true} %}
    </ul>
{% else %}
    <h2 class="govuk-footer__heading govuk-!-font-size-18">{{ menu.name }}</h2>

    <ul class="govuk-list govuk-!-font-size-16">
        {% include 'menus/sub-menu.html.twig' with {'menu_list': menu.children} %}
    </ul>
{% endif %} 