{% for menu_item in menu_list %}
    <ul class="govuk-!-padding-left-3 list--inline">
        <li>
            <a class="govuk-footer__link" href="{{ menu_item.url }}">{{ menu_item.label }}</a>
            {% if menu_item.children %}
                {% include 'menus/sub-menu.html.twig' with {'menu_list': menu_item.children} %}
            {% endif %}
        </li>
    </ul>
{% endfor %}
