{% for menu_item in menu_list %}
        <li class="{{inlineMenu ? "govuk-footer__inline-list-item" : ""}}">
            <a class="govuk-footer__link" href="{{ menu_item.url }}" data-evt-placement="footer">{{ menu_item.label }}</a>
            {% if menu_item.children %}
                {% include 'menus/sub-menu.html.twig' with {'menu_list': menu_item.children} %}
            {% endif %}
        </li>
{% endfor %}
