{% extends 'base.html.twig' %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Upcoming deals</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Upcoming deal title
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl page-title">Upcoming deal title</h1>

                    <p class="govuk-body-l">The Lead element is used for displaying a summary of the page our visitors is about to read. Keep the lead concise and under 270 characters (including spaces) so that it can be displayed for search engine results as the meta description.</p>




                    <div class="wysiwyg-content">

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus doloremque dolores earum excepturi officiis perspiciatis, quas ratione veniam. At autem cumque distinctio dolores earum eligendi error in iure vitae!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda atque corporis dolor ea, earum ex hic, id impedit maxime mollitia nihil perferendis provident rem similique suscipit tempore velit voluptatum!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus doloremque dolores earum excepturi officiis perspiciatis, quas ratione veniam. At autem cumque distinctio dolores earum eligendi error in iure vitae!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ea eius eum expedita labore laudantium mollitia quaerat quisquam veritatis voluptatem! Ab doloremque illum itaque minus possimus, qui rem reprehenderit veniam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus doloremque dolores earum excepturi officiis perspiciatis, quas ratione veniam. At autem cumque distinctio dolores earum eligendi error in iure vitae!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi consequuntur, cum, doloribus ea eligendi eum illum maiores molestias mollitia perspiciatis porro possimus provident ratione reiciendis reprehenderit repudiandae suscipit tempora?</p>

                    </div>
                    {# End of wysiwyg content #}





                </div>




        </main>
    </div>

{% endblock %}
