{% extends 'base.html.twig' %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <!--<div class="govuk-breadcrumbs">-->
        <!--<ol class="govuk-breadcrumbs__list">-->
        <!--<li class="govuk-breadcrumbs__list-item">-->
        <!--<a class="govuk-breadcrumbs__link" href="#">Home</a>-->
        <!--</li>-->
        <!--<li class="govuk-breadcrumbs__list-item">-->
        <!--<a class="govuk-breadcrumbs__link" href="#">Search suppliers</a>-->
        <!--</li>-->
        <!--<li class="govuk-breadcrumbs__list-item" aria-current="page">-->
        <!--Amey OW Limited-->
        <!--</li>-->
        <!--</ol>-->
        <!--</div>-->


        <!-- required wrapper 2 -->
        <main class="govuk-main-wrapper">


            {#<div class="govuk-grid-row">#}
                {#<div class="govuk-grid-column-full">#}

                    {#<h1 class="govuk-heading-xl page-title">Book online training for the CCS eSourcing tool</h1>#}

                {#</div>#}
            {#</div>#}


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                    <h1 class="govuk-heading-xl page-title">Book online training for the CCS eSourcing tool</h1>


                    <p class="govuk-body-l">Complete the form below to book a place on one of our training sessions.</p>

                    <p class="govuk-body">The sessions are between 1 and 1.5 hours long. Log-in details will be issued in a meeting invitation sent to you about one week before the training date.</p>


                    <form action="https://crowncommercial--PreProd.cs102.my.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">


                        <!-- Required fields for Salesforce -->
                        <input type=hidden name="orgid" value="00D1j0000008aYA">
                        <input type=hidden name="retURL" value="http://">

                        <!-- NOTE: These fields are optional debugging elements. Please uncomment these lines if you wish to test in debug mode. -->
                        <!--<input type="hidden" name="debug" value=1>-->
                        <!--<input type="hidden" name="debugEmail" value="carlos@studio24.net">-->


                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                    <h1 class="govuk-fieldset__heading">
                                        Are you a:
                                    </h1>
                                </legend>
                                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
                                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                                            Buyer
                                        </label>
                                    </div>
                                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">


                                        <div class="govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                    <h1 class="govuk-fieldset__heading visuallyhidden">
                                                        Choose your training time from the following:
                                                    </h1>
                                                </legend>
                                                <div class="govuk-radios govuk-radios--small">
                                                    <div class="govuk-radios__item govuk-radios__item--small">
                                                        <input class="govuk-radios__input govuk-radios__input--small" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                                                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                                                            17th May 2018 - 10:00am
                                                        </label>
                                                    </div>
                                                    <div class="govuk-radios__item govuk-radios__item--small">
                                                        <input class="govuk-radios__input govuk-radios__input--small" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                                            17th May 2018 - 13:00am
                                                        </label>
                                                    </div>
                                                    <div class="govuk-radios__item govuk-radios__item--small">
                                                        <input class="govuk-radios__input govuk-radios__input--small" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                                                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                                            21th May 2018 - 9:00am
                                                        </label>
                                                    </div>
                                                    <div class="govuk-radios__item govuk-radios__item--small">
                                                        <input class="govuk-radios__input govuk-radios__input--small" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                                                        <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                                                            30th May 2018 - 10:00am
                                                        </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>


                                    </div>


                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                                            Supplier
                                        </label>
                                    </div>
                                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="contact-by-phone">
                                                Phone number
                                            </label>
                                            <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel">
                                        </div>

                                    </div>


                                </div>
                            </fieldset>
                        </div>


                        <div class="govuk-form-group">
                            <label class="govuk-label" for="name">
                                Full name
                            </label>
                            <input class="govuk-input" id="name" name="name" type="text">
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="email">
                                Email
                            </label>
                            <input class="govuk-input" id="email" name="email" type="email">
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="telephone">
                                Telephone number (optional)
                            </label>
                            <input class="govuk-input" id="telephone" name="telephone" type="text">
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="organisation">
                                Organisation
                            </label>
                            <input class="govuk-input" id="organisation" name="organisation" type="text">
                        </div>


                        <div class="govuk-form-group">
                            <button type="submit" class="gem-c-button govuk-button govuk-button--start">Book training place</button>
                        </div>

                    </form>




                </div>
                {#<div class="govuk-grid-column-one-quarter">#}
                {#</div>#}
            </div>


        </main>
    </div>

{% endblock %}
