{% extends 'base.html.twig' %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Help and
                        support</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Buy through CCS
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <h1 class="govuk-heading-xl page-title">Buy through CCS</h1>

                </div>
            </div>




            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">




                    <p class="govuk-body">CCS has over 80 commercial agreements you can use. Depending on what you are buying you may also need to consider:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>How much of it you want - do you want one item or thousands, in one location or many?</li>
                        <li>When you need it delivered - do you require delivery quickly or can you wait?</li>
                    </ul>
                    <p class="govuk-body">You can access CCS commercial agreements in two main ways: catalogues and frameworks. There are a number of buying routes for each.</p>

                    <hr class="govuk-section-break--m">


                </div>
            </div>




            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">

                    <h2 class="govuk-heading-m govuk-!-font-size-19">
                        Catalogues</h2>

                    <p class="govuk-body">Catalogues are for simple everyday purchases, such as office supplies, which can be bought online for next-day delivery. You will pay the price per item published in the catalogue.</p>



                </div>
                <div class="govuk-grid-column-one-quarter">

                    <div class="apollo-card">
                        <h2 class="apollo-card__heading govuk-heading-m govuk-!-font-size-19">
                            Purchasing platform</h2>

                        <dl class="apollo-list--definition--card">
                            <dt></dt>
                            <dd></dd>
                        </dl>

                        <div class="govuk-body">
                            <strong>What you can buy:</strong>
                        </div>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>How much of it you want - do you want one item or thousands, in one location or many?</li>
                            <li>When you need it delivered - do you require delivery quickly or can you wait?</li>
                        </ul>
                        <strong>Time to supply:</strong> From next day
                        <strong>Pros:</strong> Quick, click-to-buy, low admin
                        <strong>Cons:</strong> Limited to 3 catalogues
                        
                        <ul class="govuk-list list--inline">
                            <li><a href="link" class="govuk-!-font-size-17featured">Visit site</a></li>
                            <li><a href="link" class="govuk-!-font-size-17featured">Learn more</a></li>
                        </ul>

                    </div>

                </div>
                <div class="govuk-grid-column-one-quarter">

                    <div class="apollo-card">
                        <h2 class="apollo-card__heading govuk-heading-m govuk-!-font-size-19">
                            Purchasing platform</h2>

                        <div class="govuk-body">
                            <strong>What you can buy:</strong>
                        </div>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>How much of it you want - do you want one item or thousands, in one location or many?</li>
                            <li>When you need it delivered - do you require delivery quickly or can you wait?</li>
                        </ul>

                    </div>

                </div>
                <div class="govuk-grid-column-one-quarter">

                    <div class="apollo-card">
                        <h2 class="apollo-card__heading govuk-heading-m govuk-!-font-size-19">
                            Purchasing platform</h2>

                        <div class="govuk-body">
                            <strong>What you can buy:</strong>
                        </div>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>How much of it you want - do you want one item or thousands, in one location or many?</li>
                            <li>When you need it delivered - do you require delivery quickly or can you wait?</li>
                        </ul>

                    </div>

                </div>
            </div>




        </main>
    </div>

{% endblock %}
