{% extends 'base.html.twig' %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Help and
                        support</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    How to buy through CCS
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <h1 class="govuk-heading-xl page-title">How to buy through
                        CCS</h1>

                </div>
            </div>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">


                    <p class="govuk-body">CCS has over 80 commercial agreements
                        you can use. Depending on what you are buying you may
                        also need to consider:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>How much of it you want - do you want one item or
                            thousands, in one location or many?
                        </li>
                        <li>When you need it delivered - do you require delivery
                            quickly or can you wait?
                        </li>
                    </ul>
                    <p class="govuk-body">You can access CCS commercial
                        agreements in two main ways: catalogues and frameworks.
                        There are a number of buying routes for each.</p>

                </div>
            </div>


            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">

                    <h2 class="govuk-heading-m">
                        Catalogues</h2>

                    <p class="govuk-body">Catalogues are for simple everyday
                        purchases, such as office supplies, which can be bought
                        online for next-day delivery. You will pay the price per
                        item published in the catalogue.</p>


                </div>
                <div class="govuk-grid-column-three-quarters">


                    <ul class="how-to-buy-list">
                        <li class="apollo-card how-to-buy-list__item">
                            <h2 class="apollo-card__heading govuk-heading-m govuk-!-font-size-24">
                                Purchasing platform</h2>

                            <dl class="apollo-list--definition--card">
                                <dt>What you can buy</dt>
                                <dd>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>How much of it you want - do you
                                            want one item or thousands, in one
                                            location or many?
                                        </li>
                                        <li>When you need it delivered - do you
                                            require delivery quickly or can you
                                            wait?
                                        </li>
                                    </ul>
                                </dd>
                                <dt>Time to supply</dt>
                                <dd>From next day</dd>
                                <dt>Pros</dt>
                                <dd>Quick, click-to-buy, low admin</dd>
                                <dt>Cons</dt>
                                <dd>Limited to 3 catalogues</dd>
                                <dt class="visuallyhidden">Links</dt>
                                <dd>
                                    <ul class="govuk-list list--inline">
                                        <li>
                                            <a href="37-help-article-details" class="govuk-!-font-size-17featured">Visit
                                                site</a></li>
                                        <li>
                                            <a href="link" class="govuk-!-font-size-17featured">Learn
                                                more</a></li>
                                    </ul>
                                </dd>
                            </dl>

                        </li>
                        <li class="apollo-card how-to-buy-list__item">
                            <h2 class="apollo-card__heading govuk-heading-m govuk-!-font-size-24">
                                Digital marketplace</h2>

                            <dl class="apollo-list--definition--card">
                                <dt>What you can buy</dt>
                                <dd>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>How much of it you want - do you
                                            want one item or thousands, in one
                                            location or many?
                                        </li>
                                        <li>When you need it delivered - do you
                                            require delivery quickly or can you
                                            wait?
                                        </li>
                                    </ul>
                                </dd>
                                <dt>Time to supply</dt>
                                <dd>From next day</dd>
                                <dt>Pros</dt>
                                <dd>Quick, click-to-buy, low admin</dd>
                                <dt>Cons</dt>
                                <dd>Limited to 3 catalogues</dd>
                                <dt class="visuallyhidden">Links</dt>
                                <dd>
                                    <ul class="govuk-list list--inline">
                                        <li>
                                            <a href="37-help-article-details" class="govuk-!-font-size-17featured">Visit
                                                site</a></li>
                                        <li>
                                            <a href="link" class="govuk-!-font-size-17featured">Learn
                                                more</a></li>
                                    </ul>
                                </dd>
                            </dl>

                        </li>
                        <li class="apollo-card how-to-buy-list__item">
                            <h2 class="apollo-card__heading govuk-heading-m govuk-!-font-size-24">
                                eMarketplace</h2>

                            <dl class="apollo-list--definition--card">
                                <dt>What you can buy</dt>
                                <dd>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>How much of it you want - do you
                                            want one item or thousands, in one
                                            location or many?
                                        </li>
                                        <li>When you need it delivered - do you
                                            require delivery quickly or can you
                                            wait?
                                        </li>
                                    </ul>
                                </dd>
                                <dt>Time to supply</dt>
                                <dd>From next day</dd>
                                <dt>Pros</dt>
                                <dd>Quick, click-to-buy, low admin</dd>
                                <dt>Cons</dt>
                                <dd>Limited to 3 catalogues</dd>
                                <dt class="visuallyhidden">Links</dt>
                                <dd>
                                    <ul class="govuk-list list--inline">
                                        <li>
                                            <a href="37-help-article-details" class="govuk-!-font-size-17featured">Visit
                                                site</a></li>
                                        <li>
                                            <a href="link" class="govuk-!-font-size-17featured">Learn
                                                more</a></li>
                                    </ul>
                                </dd>
                            </dl>

                        </li>
                    </ul>

                </div>
            </div>



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">

            <h2 class="govuk-heading-m">
                Frameworks</h2>

            <p>You can use frameworks to buy a range of common products and
                services, from simple to complex requirements and from low to
                high volumes of products. Frameworks comprise a description of
                the requirements, a list of suppliers and standardised contract
                terms. They are often divided into lots by product or service
                type.</p>
            <p>
                <a href="/template/2-3-frameworks-search-results">Search
                    frameworks</a>
            </p>


        </div>
        <div class="govuk-grid-column-three-quarters">


            <ul class="how-to-buy-list">
                <li class="apollo-card how-to-buy-list__item">
                    <h2 class="apollo-card__heading govuk-heading-m govuk-!-font-size-24">
                        Purchasing platform</h2>

                    <dl class="apollo-list--definition--card">
                        <dt>What you can buy</dt>
                        <dd>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>How much of it you want - do you want one
                                    item or thousands, in one location or many?
                                </li>
                                <li>When you need it delivered - do you require
                                    delivery quickly or can you wait?
                                </li>
                            </ul>
                        </dd>
                        <dt>Time to supply</dt>
                        <dd>From next day</dd>
                        <dt>Pros</dt>
                        <dd>Quick, click-to-buy, low admin</dd>
                        <dt>Cons</dt>
                        <dd>Limited to 3 catalogues</dd>
                        <dt class="visuallyhidden">Links</dt>
                        <dd>
                            <ul class="govuk-list list--inline">
                                <li>
                                    <a href="37-help-article-details" class="govuk-!-font-size-17featured">Visit
                                        site</a></li>
                                <li>
                                    <a href="link" class="govuk-!-font-size-17featured">Learn
                                        more</a></li>
                            </ul>
                        </dd>
                    </dl>

                </li>
                <li class="apollo-card how-to-buy-list__item">
                    <h2 class="apollo-card__heading govuk-heading-m govuk-!-font-size-24">
                        Digital marketplace</h2>

                    <dl class="apollo-list--definition--card">
                        <dt>What you can buy</dt>
                        <dd>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>How much of it you want - do you want one
                                    item or thousands, in one location or many?
                                </li>
                                <li>When you need it delivered - do you require
                                    delivery quickly or can you wait?
                                </li>
                            </ul>
                        </dd>
                        <dt>Time to supply</dt>
                        <dd>From next day</dd>
                        <dt>Pros</dt>
                        <dd>Quick, click-to-buy, low admin</dd>
                        <dt>Cons</dt>
                        <dd>Limited to 3 catalogues</dd>
                        <dt class="visuallyhidden">Links</dt>
                        <dd>
                            <ul class="govuk-list list--inline">
                                <li>
                                    <a href="37-help-article-details" class="govuk-!-font-size-17featured">Visit
                                        site</a></li>
                                <li>
                                    <a href="link" class="govuk-!-font-size-17featured">Learn
                                        more</a></li>
                            </ul>
                        </dd>
                    </dl>

                </li>
                <li class="apollo-card how-to-buy-list__item">
                    <h2 class="apollo-card__heading govuk-heading-m govuk-!-font-size-24">
                        eMarketplace</h2>

                    <dl class="apollo-list--definition--card">
                        <dt>What you can buy</dt>
                        <dd>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>How much of it you want - do you want one
                                    item or thousands, in one location or many?
                                </li>
                                <li>When you need it delivered - do you require
                                    delivery quickly or can you wait?
                                </li>
                            </ul>
                        </dd>
                        <dt>Time to supply</dt>
                        <dd>From next day</dd>
                        <dt>Pros</dt>
                        <dd>Quick, click-to-buy, low admin</dd>
                        <dt>Cons</dt>
                        <dd>Limited to 3 catalogues</dd>
                        <dt class="visuallyhidden">Links</dt>
                        <dd>
                            <ul class="govuk-list list--inline">
                                <li>
                                    <a href="37-help-article-details" class="govuk-!-font-size-17featured">Visit
                                        site</a></li>
                                <li>
                                    <a href="link" class="govuk-!-font-size-17featured">Learn
                                        more</a></li>
                            </ul>
                        </dd>
                    </dl>

                </li>
                <li class="apollo-card how-to-buy-list__item">
                    <h2 class="apollo-card__heading govuk-heading-m govuk-!-font-size-24">
                        Purchasing platform</h2>

                    <dl class="apollo-list--definition--card">
                        <dt>What you can buy</dt>
                        <dd>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>How much of it you want - do you want one
                                    item or thousands, in one location or many?
                                </li>
                                <li>When you need it delivered - do you require
                                    delivery quickly or can you wait?
                                </li>
                            </ul>
                        </dd>
                        <dt>Time to supply</dt>
                        <dd>From next day</dd>
                        <dt>Pros</dt>
                        <dd>Quick, click-to-buy, low admin</dd>
                        <dt>Cons</dt>
                        <dd>Limited to 3 catalogues</dd>
                        <dt class="visuallyhidden">Links</dt>
                        <dd>
                            <ul class="govuk-list list--inline">
                                <li>
                                    <a href="37-help-article-details" class="govuk-!-font-size-17featured">Visit
                                        site</a></li>
                                <li>
                                    <a href="link" class="govuk-!-font-size-17featured">Learn
                                        more</a></li>
                            </ul>
                        </dd>
                    </dl>

                </li>
            </ul>

        </div>
    </div>



    </main>
    </div>



    <div class="apollo-island apollo-island--emphasised">
        <div class="govuk-width-container">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">

                    <div class="apollo-call-to-action apollo-call-to-action--aggregation">
                        <h3 class="govuk-heading-m">Aggregation</h3>
                        <p>Bulk buying, also known as aggregation, offers highly
                            competitive prices and a simple tender process.</p>
                        <p><a href="sdgfdfg">Learn more</a></p>
                    </div>

                </div>
                <div class="govuk-grid-column-one-half">

                    <div class="apollo-call-to-action apollo-call-to-action--help">
                        <h3 class="govuk-heading-m">Can't find what you're
                            looking for?</h3>
                        <p>If none of your requirements can be met by a CCS
                            catalogue or framework, you can run an EU
                            tender.</p>
                        <p><a href="sdgfdfg">Learn more</a></p>
                    </div>

                </div>
            </div>

        </div>
    </div>


{% endblock %}
