{% extends 'base.html.twig' %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Help and
                        support</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Further competition
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <h1 class="govuk-heading-xl page-title">Amey OW Limited</h1>

                </div>
            </div>




            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">




                    <div class="apollo-enclosure apollo-enclosure--further-competition">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-19">
                                    Overview</h2>

                            </div>
                            <div class="govuk-grid-column-three-quarters">

                                <p class="govuk-body">Once you have selected the CCS framework that meets your requirements, you can ask the suppliers listed to bid, a process called a further competition. This may be run under any CCS framework which has multiple suppliers as an alternative to a direct award.</p>

                            </div>
                        </div>
                    </div>



                    <div class="apollo-enclosure apollo-enclosure--further-competition apollo-enclosure--white">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-19">
                                    How to buy</h2>

                            </div>
                            <div class="govuk-grid-column-three-quarters">

                                <p class="govuk-body">Use CCS’s free eSourcing tool [sign-up link] to run a further competition among the suppliers listed against the framework and lot you have selected. Or use your own organisation’s sourcing tool.The main stages of running a further competition are detailed in the buyers’ guides of each agreement. Generally they are:
                                </p>

                                <ul class="govuk-list govuk-list--bullet">
                                    <li>Pre-market engagement with suppliers to help you define requirements (optional)</li>
                                    <li>Define your requirements and invitation to tender (ITT)</li>
                                    <li>Invite suppliers on the specified agreement and lot to bid by issuing the ITT, requirements document and draft contract</li>
                                    <li>Evaluate suppliers’ responses</li>
                                    <li>Award a contract to the successful supplier  and notify unsuccessful suppliers</li>
                                    <li>Include a 10-day standstill period (optional)</li>
                                </ul>

                            </div>
                        </div>
                    </div>



                    <div class="apollo-enclosure apollo-enclosure--further-competition">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-19">
                                    Best for:</h2>

                            </div>
                            <div class="govuk-grid-column-three-quarters">

                                <ul class="govuk-list govuk-list--checkmark">
                                    <li>Pre-market engagement with suppliers to help you define requirements (optional)</li>
                                    <li>Define your requirements and invitation to tender (ITT)</li>
                                    <li>Invite suppliers on the specified agreement and lot to bid by issuing the ITT, requirements document and draft contract</li>
                                    <li>Evaluate suppliers’ responses</li>
                                    <li>Award a contract to the successful supplier  and notify unsuccessful suppliers</li>
                                    <li>Include a 10-day standstill period (optional)</li>
                                </ul>

                            </div>
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-19">
                                    Not appropriate for:</h2>

                            </div>
                            <div class="govuk-grid-column-three-quarters">

                                <ul class="govuk-list govuk-list--cross">
                                    <li>Pre-market engagement with suppliers to help you define requirements (optional)</li>
                                    <li>Define your requirements and invitation to tender (ITT)</li>
                                    <li>Invite suppliers on the specified agreement and lot to bid by issuing the ITT, requirements document and draft contract</li>
                                    <li>Evaluate suppliers’ responses</li>
                                    <li>Award a contract to the successful supplier  and notify unsuccessful suppliers</li>
                                    <li>Include a 10-day standstill period (optional)</li>
                                </ul>

                            </div>
                        </div>
                    </div>



                    <div class="apollo-enclosure apollo-enclosure--further-competition apollo-enclosure--white">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-19">
                                    Payment methods</h2>

                            </div>
                            <div class="govuk-grid-column-three-quarters">

                                <p class="govuk-body">Purchase order raised within your organisation
                                </p>

                            </div>
                        </div>
                    </div>




                    <div class="apollo-enclosure apollo-enclosure--further-competition">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-19">
                                    Who can use</h2>

                            </div>
                            <div class="govuk-grid-column-three-quarters">

                                <p class="govuk-body">Any UK public sector organisation, registered social landlords (Housing Associations), and charities.</p>

                            </div>
                        </div>
                    </div>




                    <div class="apollo-enclosure apollo-enclosure--further-competition apollo-enclosure--white">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-19">
                                    Time to supply</h2>

                            </div>
                            <div class="govuk-grid-column-three-quarters">

                                <ul class="govuk-list govuk-list--bullet">
                                    <li>Producing your requirements and ITT documentation can take from a few weeks to several months, depending on the complexity of the goods and services.</li>
                                    <li>The time between starting a further competition and delivery will depend on the complexity of your requirements and the number of bids you need to evaluate. You should allow at least 6 - 8 weeks to complete your further competition process.</li>
                                    <li>If you are running a further competition that is assisted by a CCS call-off team, there is a 30 working day service level agreement: 10 days to prepare tender documentation; 10 days for suppliers to submit responses; 10 days to evaluate responses and recommend an award.</li>
                                </ul>

                            </div>
                        </div>
                    </div>



                    <div class="apollo-enclosure apollo-enclosure--further-competition">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-19">
                                    Pros</h2>

                            </div>
                            <div class="govuk-grid-column-three-quarters">

                                <ul class="govuk-list govuk-list--checkmark">
                                    <li>Pre-market engagement with suppliers to help you define requirements (optional)</li>
                                    <li>Define your requirements and invitation to tender (ITT)</li>
                                    <li>Invite suppliers on the specified agreement and lot to bid by issuing the ITT, requirements document and draft contract</li>
                                    <li>Evaluate suppliers’ responses</li>
                                    <li>Award a contract to the successful supplier  and notify unsuccessful suppliers</li>
                                    <li>Include a 10-day standstill period (optional)</li>
                                </ul>

                            </div>
                        </div>
                    </div>



                    <div class="apollo-enclosure apollo-enclosure--further-competition apollo-enclosure--white">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">

                                <h2 class="govuk-heading-m govuk-!-font-size-19">
                                    Cons</h2>

                            </div>
                            <div class="govuk-grid-column-three-quarters">

                                <ul class="govuk-list govuk-list--cross">
                                    <li>Pre-market engagement with suppliers to help you define requirements (optional)</li>
                                    <li>Define your requirements and invitation to tender (ITT)</li>
                                    <li>Invite suppliers on the specified agreement and lot to bid by issuing the ITT, requirements document and draft contract</li>
                                    <li>Evaluate suppliers’ responses</li>
                                    <li>Award a contract to the successful supplier  and notify unsuccessful suppliers</li>
                                    <li>Include a 10-day standstill period (optional)</li>
                                </ul>

                            </div>
                        </div>
                    </div>




                </div>
            </div>




        </main>
    </div>

{% endblock %}
