{% extends 'base-news.html.twig' %}

{% block body %}



    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


        {#<div class="govuk-breadcrumbs">#}
        {#<ol class="govuk-breadcrumbs__list">#}
        {#<li class="govuk-breadcrumbs__list-item">#}
        {#<a class="govuk-breadcrumbs__link" href="/">Home</a>#}
        {#</li>#}
        {#<!--<li class="govuk-breadcrumbs__list-item">-->#}
        {#<!--<a class="govuk-breadcrumbs__link" href="2-3-frameworks-search-result">Search frameworks</a>-->#}
        {#<!--</li>-->#}
        {#<li class="govuk-breadcrumbs__list-item" aria-current="page">#}
        {#Search framework#}
        {#</li>#}
        {#</ol>#}
        {#</div>#}


        <!-- required wrapper 2 -->
        <main id="main-content" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">


                    <ul class="news-listing">
                        <li class="news-listing__item">
                            <picture>
                                <a href="/template/26-43-news-details" aria-hidden="true" class="news-listing__item__image-link">
                                    <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                </a>
                            </picture>
                            <div class="news-listing__item__caption">
                                <div class="news-listing-meta">News | 9th
                                    November 2017
                                </div>
                                <h2 class="news-listing-title">
                                    <a href="/template/26-43-news-details">Further
                                        details on new Legal Services
                                        Marketplace revealed</a></h2>
                                <p class="news-listing-summary">Crown Commercial
                                    Service has released more details about its
                                    new Legal Services Marketplace.</p>
                            </div>
                        </li>
                        <li class="news-listing__item">
                            <picture>
                                <a href="/template/26-43-news-details" aria-hidden="true" class="news-listing__item__image-link">
                                    <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                </a>
                            </picture>
                            <div class="news-listing__item__caption">
                                <div class="news-listing-meta">News | 9th
                                    November 2017
                                </div>
                                <h2 class="news-listing-title">
                                    <a href="/template/26-43-news-details">Further
                                        details on new Legal Services
                                        Marketplace revealed</a></h2>
                                <p class="news-listing-summary">Crown Commercial
                                    Service has released more details about its
                                    new Legal Services Marketplace - due to be
                                    awarded in 2018 and estimated to be worth
                                    £650 million.</p>
                            </div>
                        </li>
                        <li class="news-listing__item">
                            <picture>
                                <a href="/template/26-43-news-details" aria-hidden="true" class="news-listing__item__image-link">
                                    <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                </a>
                            </picture>
                            <div class="news-listing__item__caption">
                                <div class="news-listing-meta">News | 9th
                                    November 2017
                                </div>
                                <h2 class="news-listing-title">
                                    <a href="/template/26-43-news-details">Further
                                        details on new Legal Services
                                        Marketplace revealed</a></h2>
                                <p class="news-listing-summary">Crown Commercial
                                    Service has released more details about its
                                    new Legal Services Marketplace - due to be
                                    awarded in 2018 and estimated to be worth
                                    £650 million.</p>
                            </div>
                        </li>
                        <li class="news-listing__item">
                            <picture>
                                <a href="/template/26-43-news-details" aria-hidden="true" class="news-listing__item__image-link">
                                    <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                </a>
                            </picture>
                            <div class="news-listing__item__caption">
                                <div class="news-listing-meta">News | 9th
                                    November 2017
                                </div>
                                <h2 class="news-listing-title">
                                    <a href="/template/26-43-news-details">Further
                                        details on new Legal Services
                                        Marketplace revealed</a></h2>
                                <p class="news-listing-summary">Crown Commercial
                                    Service has released more details about its
                                    new Legal Services Marketplace - due to be
                                    awarded in 2018 and estimated to be worth
                                    £650 million. Due to be awarded in 2018 and
                                    estimated to be worth £650 million.</p>
                            </div>
                        </li>
                        <li class="news-listing__item">
                            <picture>
                                <a href="/template/26-43-news-details" aria-hidden="true" class="news-listing__item__image-link">
                                    <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                </a>
                            </picture>
                            <div class="news-listing__item__caption">
                                <div class="news-listing-meta">News | 9th
                                    November 2017
                                </div>
                                <h2 class="news-listing-title">
                                    <a href="/template/26-43-news-details">Further
                                        details on new Legal Services
                                        Marketplace revealed</a></h2>
                                <p class="news-listing-summary">Crown Commercial
                                    Service has released more details about its
                                    new Legal Services Marketplace - due to be
                                    awarded in 2018 and estimated to be worth
                                    £650 million.</p>
                            </div>
                        </li>
                        <li class="news-listing__item">
                            <picture>
                                <a href="/template/26-43-news-details" aria-hidden="true" class="news-listing__item__image-link">
                                    <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                </a>
                            </picture>
                            <div class="news-listing__item__caption">
                                <div class="news-listing-meta">News | 9th
                                    November 2017
                                </div>
                                <h2 class="news-listing-title">
                                    <a href="/template/26-43-news-details">Further
                                        details on new Legal Services
                                        Marketplace revealed</a></h2>
                                <p class="news-listing-summary">Crown Commercial
                                    Service has released more details about its
                                    new Legal Services Marketplace - due to be
                                    awarded in 2018 and estimated to be worth
                                    £650 million.</p>
                            </div>
                        </li>
                    </ul>


                    <ul class="list--inline pagination govuk-body" role="navigation" aria-label="Pagination">
                        <li class="pagination__item pagination__item--previous">
                            <a href="#">
                            <span class="icon">
                                <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M6.7 0l1.4 1.4-4.3 4.3h13v2H3.9l4.2 4-1.4 1.4L0 6.7z" fill="#007194" fill-rule="evenodd"/></svg>
                            </span> <span>Previous</span> </a>
                        </li>
                        <li class="pagination__item">
                            <a href="#">
                                <span class="visuallyhidden">Page</span>1<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <span>…</span>
                        </li>
                        <li class="pagination__item">
                            <a href="#">
                                <span class="visuallyhidden">Page</span>40<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" rel="prev">
                                <span class="visuallyhidden">Page</span>41<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <span class="visuallyhidden">You’re currently on page</span>42<span class="visuallyhidden">of 123</span>
                        </li>
                        <li class="pagination__item">
                            <a href="#" rel="next">
                                <span class="visuallyhidden">Page</span>43<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a href="#">
                                <span class="visuallyhidden">Page</span>44<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <span>…</span>
                        </li>
                        <li class="pagination__item">
                            <a href="#">
                                <span class="visuallyhidden">Page</span>123<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item pagination__item--next">
                            <a href="#"> <span>Next</span> <span class="icon">
                                <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M10.1 0L8.7 1.4 13 5.7H0v2h12.9l-4.2 4 1.4 1.4 6.7-6.4z" fill="#007194" fill-rule="evenodd"/></svg>
                            </span> </a>
                        </li>
                    </ul>


                </div>
            </div>


        </main>
    </div>



{% endblock %}
