<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DigiTS</title>
    <link rel="stylesheet" href="assets/styles/styles.css">
</head>
<body class="govuk-template__body">
    <header class="header-global header-global--home">
        <div class="ccs-width-container">
            <div class="nav-wrapper">
                <span class="logo">
                    <img src="assets/images/CCS_WHITE_SML_AW.png" alt="Crown Commercial Service">
                </span>
            </div>
        </div>
    </header>

    <main id="main-content" role="main" class="govuk-main-wrapper" data-template="">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl page-title page-title--tight">DigiTS is currently offline</h1>
                    <p class="govuk-body">We apologise for any inconvenience.</p>
                    <p class="govuk-body">If you need to book travel in the meantime, please reach out to the relevant travel supplier using the details below.</p>
                    <br />
                </div>
            </div>
            <hr />

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Book Rail - Trainline</h2>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">For bookings, amendments and cancellations:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>0344 556 1384</li>
                    </ul>
                    <p class="govuk-body">For issues regarding cancelling mobile tickets, please call: <strong>08712441545</strong> option 1 for business and option 1 for managed accounts</p>
                    <h3 class="govuk-heading-s">Availability</h3>
                    <p class="govuk-body">Monday to Sunday: 8am - 6pm</p>
                    <hr class="mobile-only" />
                </div>

                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Book Accommodation - HRS</h2>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">For bookings, amendments and cancellations:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>+44 800 328 4 328</li>
                        <li><a href="mailto:hrs_customerexperience@hrs.de">hrs_customerexperience@hrs.de</a></li>
                    </ul>
                    <p class="govuk-body">For escalation and Technical assistance between 9am - 6pm email <a href="mailto:servicedeskuk@hrs.com">servicedeskuk@hrs.com</a></p>
                    <h3 class="govuk-heading-s">Availability</h3>
                    <p class="govuk-body">24 hours, 7 days a week. Including bank holidays.</p>
                    <hr class="mobile-only" />
                </div>

                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Book Air Travel - Diversity Travel</h2>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">For bookings, amendments and cancellations:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>+44 (0)161 235 5406</li>
                        <li><a href="mailto:ccssupport@diversitytravel.com">ccssupport@diversitytravel.com</a></li>
                    </ul>
                    <h3 class="govuk-heading-s">Availability</h3>
                    <p class="govuk-body">Real time assistance provided 24 hours a day. Emergency support is also provided out of normal working hours to assist with emergency bookings or last minute changes to existing itineraries made online.</p>
                </div>
            </div>
            <hr />

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Book Venues - Calder</h2>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">For bookings, amendments and cancellations:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>0113 397 9432 (option 1)</li>
                        <li><a href="mailto:enquiries@calders.org.uk">enquiries@calders.org.uk</a></li>
                    </ul>
                    <h3 class="govuk-heading-s">Availability</h3>
                    <p class="govuk-body">Offline out of hours Service 24 hours a day, 7 days a week and every day of the year. Offline Service available 08:00 – 20:00 every Monday to Friday.</p>
                </div>
            </div>
            <hr />

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Travel agencies</h1>
                    <br />
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Travel Planet</h2>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">For bookings, amendments and cancellations:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>0330 6841066</li>
                        <li><a href="mailto:ccs-bookings@my-travelplanet.com">ccs-bookings@my-travelplanet.com</a></li>
                    </ul>
                    <p class="govuk-body">For technical assistance email <a href="mailto:ccs-support@my-travelplanet.com">ccs-support@my-travelplanet.com</a></p>
                    <h3 class="govuk-heading-s">Availability</h3>
                    <p class="govuk-body">24 hours, 7 days a week.</p>
                    <hr class="mobile-only" />
                </div>

                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">CTM (North)</h2>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">For bookings, amendments, cancellations and technical support:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>01274 726424</li>
                        <li><a href="mailto:North.BSU@TravelCTM.com">North.BSU@TravelCTM.com</a></li>
                    </ul>
                    <p class="govuk-body">ScotGov clients to contact on <strong>01274 760 650</strong> or <a href="mailto:North.Gov.Scot@TravelCTM.com">North.Gov.Scot@TravelCTM.com</a></p>
                    <p class="govuk-body">Rail: <a href="mailto:North.Rail@TravelCTM.com">North.Rail@TravelCTM.com</a></p>
                    <p class="govuk-body">Accommodation: <a href="mailto:North.Hotels@TravelCTM.com">North.Hotels@TravelCTM.com</a></p>
                    <p class="govuk-body">Air and Eurostar: <a href="mailto:North.Air@TravelCTM.com">North.Air@TravelCTM.com</a></p>
                    <h3 class="govuk-heading-s">Availability</h3>
                    <p class="govuk-body">Core Hours - Offline Service 08:00 – 20:00 every Monday to Friday. Real-time assistance service available 24 hours a day, 7 days a week and every day of the year.</p>
                    <hr class="mobile-only" />
                </div>

                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">GBT UK Ltd</h2>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">For bookings, amendments and cancellations:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>0207 949 4801</li>
                        <li><a href="mailto:pstvs.uk@amexgbt.com">pstvs.uk@amexgbt.com</a></li>
                    </ul>
                    <h3 class="govuk-heading-s">Availability</h3>
                    <p class="govuk-body">24 hours, 7 days a week. Including bank holidays.</p>
                </div>
            </div>
            <hr />

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Agiito</h2>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">For bookings, amendments and cancellations:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>0330 390 0005</li>
                        <li><a href="mailto:bookings@agiito.com">bookings@agiito.com</a></li>
                    </ul>
                    <h3 class="govuk-heading-s">Availability</h3>
                    <p class="govuk-body">24 hours, 7 days a week. Including bank holidays.</p>
                    <hr class="mobile-only" />
                </div>

                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Clarity</h2>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">For bookings, amendments and cancellations:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>0333 230 9155</li>
                        <li><a href="mailto:govonlinehelp@claritybt.com">govonlinehelp@claritybt.com</a></li>
                    </ul>
                    <p class="govuk-body">For technical assistance email <a href="mailto:ccstechsupport@claritybt.com">ccstechsupport@claritybt.com</a></p>
                    <h3 class="govuk-heading-s">Availability</h3>
                    <p class="govuk-body">Monday to Friday: 08:00 - 18:00</p>
                    <hr class="mobile-only" />
                </div>

                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Click Travel</h2>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">For bookings, amendments and cancellations:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>0844 745 2121</li>
                        <li><a href="mailto:res@clicktravel.com">res@clicktravel.com</a></li>
                    </ul>
                    <h3 class="govuk-heading-s">Availability</h3>
                    <p class="govuk-body">Monday to Friday: 08:00 - 18:00</p>
                </div>
            </div>
        </div>
    </main>

    <footer class="govuk-footer footer-global">
        <div class="govuk-width-container">
            <div class="govuk-footer__navigation">
                <div class="govuk-footer__section">
                    <span class="logo"><img src="Assets/images/CCS_WHITE_SML_AW.png" alt="Crown Commercial Service"></span>
                </div>
                <div class="govuk-footer__section footer-section-right">
                    <div class="footer-anchored">
                        <ul class="list list--inline social-links">
                            <li>
                                <a href="https://twitter.com/gov_procurement" class="govuk-footer__link">
                                    <span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg>
                                    </span> <span class="visuallyhidden">Follow us on Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/government-procurement-service/" class="govuk-footer__link">
                                    <span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"></path></svg>
                                    </span> <span class="visuallyhidden">Connect with us on LinkedIn</span>
                                </a>
                            </li>
                        </ul>

                        <ul class="govuk-list govuk-!-font-size-18">
                            <li>
                                <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>