{% extends 'base.html.twig' %}

{% block body %}

    <h1>CCS Page Template frontend test</h1>

    <p>Templates in <code>pages/{template name}.html.twig</code> can be tested via the temporary test URL <code>/template/{template name}</code></p>

    <ul>
        <li><a href="/template/contact">Contact</a></li>
    </ul>

{% endblock %}