{% extends 'base-home.html.twig' %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->



        <!-- required wrapper 2 -->
        <main class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">

                    <h2 class="govuk-heading-m govuk-!-font-size-24">How to buy</h2>
                    <p class="govuk-body govuk-!-font-size-17featured">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda at distinctio dolorem fugit iusto minus, porro. Aperiam culpa dicta maiores quia tenetur vero? Asperiores eos nemo nihil quis tempore?</p>

                </div>
                <div class="govuk-grid-column-one-quarter">

                    <h2 class="govuk-heading-m govuk-!-font-size-24">Frameworks</h2>
                    <p class="govuk-body govuk-!-font-size-17featured">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque error repudiandae ut. Aperiam cumque dolorem ex illo ipsam iste iure minus nihil nulla quas qui recusandae reiciendis similique, voluptate.</p>

                </div>
                <div class="govuk-grid-column-one-quarter">

                    <h2 class="govuk-heading-m govuk-!-font-size-24">Upcoming deals</h2>
                    <p class="govuk-body govuk-!-font-size-17featured">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aperiam cupiditate eaque eos id magnam mollitia necessitatibus, provident sunt tenetur vel veritatis vitae! Ab cumque dolor exercitationem in inventore.</p>

                </div>
                <div class="govuk-grid-column-one-quarter">

                    <h2 class="govuk-heading-m govuk-!-font-size-24">Catalogues</h2>
                    <p class="govuk-body govuk-!-margin-bottom-0"><a href="/sdgfg">Purchasing platform</a></p>
                    <p class="govuk-body govuk-!-font-size-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0"><a href="/sdgfg">Purchasing platform</a></p>
                    <p class="govuk-body govuk-!-font-size-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="govuk-body govuk-!-margin-bottom-0"><a href="/sdgfg">Purchasing platform</a></p>
                    <p class="govuk-body govuk-!-font-size-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                </div>
            </div>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                    <h1 class="govuk-heading-xl">Templates</h1>

                    <p class="govuk-body-l">Complete list of templates required to populate pages for the MVP.</p>

                    <ul class="govuk-body-l">
                        <li><a href="template/2-3-frameworks-search-results">2,3 - Frameworks search results</a></li>
                        <li><a href="template/4-5-7-9-10-framework-details">4-5,7,9-10 - Framework details</a></li>
                        <li><a href="template/6-suppliers-on-lot">6 - Suppliers on lot</a></li>
                        <li><a href="template/8-suppliers-on-framework">8 - Suppliers on framework</a></li>

                        <li><a href="template/18-upcoming-deals">18 - Upcoming deals</a></li>

                        <li><a href="template/11-15-suppliers-search-results">11-15 - Suppliers search results</a></li>
                        <li><a href="template/16-17-supplier-details">16-17 - Supplier details</a></li>

                        <li><a href="template/32-book-esourcing-training">32 - book eSourcing training</a></li>

                        <li><a href="template/36-how-to-buy">36 - How to buy</a></li>
                        <li><a href="template/37-help-article-details">37 - Help article details</a></li>
                        <li>Web forms (raw form fields at present - no layout)
                            <ul>
                                <li><a href="/contact">Contact CCS</a></li>
                                <li><a href="/esourcing-register">Register as a buyer for the CCS eSourcing tool</a></li>
                                <li><a href="/esourcing-training">Book online training for the CCS eSourcing tool</a></li>
                                <li><a href="/insurance-services-nda">Insurance Services 2 non-disclosure agreement (NDA)</a></li>
                                <li><a href="/newsletter">Sign up to receive news and updates from CCS</a> (not MVP)</li>
                            </ul>
                        </li>
                    </ul>


                </div>
                {#<div class="govuk-grid-column-one-quarter">#}
                {#</div>#}
            </div>


        </main>
    </div>

{% endblock %}
