{% extends 'base-home.html.twig' %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="--govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


        <!-- required wrapper 2 -->
        <main class="govuk-main-wrapper">


            <div class="apollo-island">
                <div class="govuk-width-container">

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">

                            <h2 class="govuk-heading-m govuk-!-font-size-24">How
                                to buy</h2>
                            <p class="govuk-body govuk-!-font-size-17featured">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Aspernatur assumenda at
                                distinctio dolorem fugit iusto minus, porro.
                                Aperiam culpa dicta maiores quia tenetur vero?
                                Asperiores eos nemo nihil quis tempore?</p>

                        </div>
                        <div class="govuk-grid-column-one-quarter">

                            <h2 class="govuk-heading-m govuk-!-font-size-24">
                                Frameworks</h2>
                            <p class="govuk-body govuk-!-font-size-17featured">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Blanditiis doloremque error
                                repudiandae ut. Aperiam cumque dolorem ex illo
                                ipsam iste iure minus nihil nulla quas qui
                                recusandae reiciendis similique, voluptate.</p>

                        </div>
                        <div class="govuk-grid-column-one-quarter">

                            <h2 class="govuk-heading-m govuk-!-font-size-24">
                                Upcoming deals</h2>
                            <p class="govuk-body govuk-!-font-size-17featured">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Adipisci aliquam aperiam
                                cupiditate eaque eos id magnam mollitia
                                necessitatibus, provident sunt tenetur vel
                                veritatis vitae! Ab cumque dolor exercitationem
                                in inventore.</p>

                        </div>
                        <div class="govuk-grid-column-one-quarter">

                            <h2 class="govuk-heading-m govuk-!-font-size-24">
                                Catalogues</h2>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="/sdgfg">Purchasing platform</a></p>
                            <p class="govuk-body govuk-!-font-size-16">Lorem
                                ipsum dolor sit amet, consectetur adipisicing
                                elit.</p>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="/sdgfg">Purchasing platform</a></p>
                            <p class="govuk-body govuk-!-font-size-16">Lorem
                                ipsum dolor sit amet, consectetur adipisicing
                                elit.</p>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="/sdgfg">Purchasing platform</a></p>
                            <p class="govuk-body govuk-!-font-size-16">Lorem
                                ipsum dolor sit amet, consectetur adipisicing
                                elit.</p>

                        </div>
                    </div>

                </div>
            </div>


            <div class="apollo-island apollo-island--emphasised">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">

                            <h2 class="govuk-heading-m">Latest news</h2>

                            <ul class="news-listing news-listing--compact">
                                <li class="news-listing__item">
                                    <picture>
                                        <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                    </picture>
                                    <div class="news-listing__item__caption">
                                        <div class="news-listing-meta">News | 9th November 2017</div>
                                        <h2 class="news-listing-title"><a href="/template/26-43-news-details">Further details on new Legal Services Marketplace revealed</a></h2>
                                        <p>Crown Commercial Service has released more details about its new Legal Services Marketplace.</p>
                                    </div>
                                </li>
                                <li class="news-listing__item">
                                    <picture>
                                        <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                    </picture>
                                    <div class="news-listing__item__caption">
                                        <div class="news-listing-meta">News | 9th November 2017</div>
                                        <h2 class="news-listing-title"><a href="/template/26-43-news-details">Further details on new Legal Services Marketplace revealed</a></h2>
                                        <p>Crown Commercial Service has released more details about its new Legal Services Marketplace - due to be awarded in 2018 and estimated to be worth £650 million.</p>
                                    </div>
                                </li>
                                <li class="news-listing__item">
                                    <picture>
                                        <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                    </picture>
                                    <div class="news-listing__item__caption">
                                        <div class="news-listing-meta">News | 9th November 2017</div>
                                        <h2 class="news-listing-title"><a href="/template/26-43-news-details">Further details on new Legal Services Marketplace revealed</a></h2>
                                        <p>Crown Commercial Service has released more details about its new Legal Services Marketplace - due to be awarded in 2018 and estimated to be worth £650 million.</p>
                                    </div>
                                </li>
                            </ul>


                        </div>
                        <div class="govuk-grid-column-three-quarters">

                            <h2 class="govuk-heading-m">Learn about CCS</h2>

                            <p class="flex-video widescreen">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </p>
                            <p><a href="sdgfdg">Browse all help and support
                                    guides</a></p>


                        </div>
                    </div>
                </div>
            </div>


            <div class="apollo-island">
                <div class="govuk-width-container">

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters">

                            <h1 class="govuk-heading-xl">Templates</h1>

                            <p class="govuk-body-l">Complete list of templates
                                required to populate pages for the MVP.</p>

                            <ul class="govuk-body-l">
                                <li><a href="/">1 - Homepage</a></li>

                                <li>
                                    <a href="template/2-3-frameworks-search-results">2,3
                                        - Frameworks search results</a></li>
                                <li>
                                    <a href="template/4-5-7-9-10-framework-details">4-5,7,9-10
                                        - Framework details</a></li>
                                <li><a href="template/6-suppliers-on-lot">6 -
                                        Suppliers on lot</a></li>
                                <li><a href="template/8-suppliers-on-framework">8
                                        - Suppliers on framework</a></li>

                                <li>
                                    <a href="template/11-15-suppliers-search-results">11-15
                                        - Suppliers search results</a></li>
                                <li><a href="template/16-17-supplier-details">16-17
                                        - Supplier details</a></li>

                                <li><a href="template/18-upcoming-deals">18 -
                                        Upcoming deals</a></li>
                                <li><a href="template/19-upcoming-deal-details">19
                                        - Upcoming deal details</a></li>

                                <li><a href="template/26-43-news-details">26,43
                                        - News details</a></li>

                                <li><a href="template/36-how-to-buy">36 - How to
                                        buy</a>
                                </li>
                                <li><a href="template/37-help-article-details">37
                                        - Help article details</a></li>
                                <li><a href="template/38-generic">38 -
                                        Generic</a></li>


                                <li><a href="template/41-42-news-listing">41,42
                                        - News listing</a></li>


                                <li><a href="template/44-error">44 - Error (404,
                                        500 etc)</a></li>
                            </ul>

                            <h2 class="govuk-heading-l">Form templates</h2>

                            <p class="govuk-body-l">Complete list of form templates
                                required to populate pages for the MVP. Please note: numbers in brackets are submission response templates.</p>

                            <ul class="govuk-body-l">
                                <li><a href="/contact">22 (23), 24 (25) - Contact CCS</a>, <a href="/contact/thanks">(23) - Contact Thanks</a>, <a href="/contact/thanks-complaint">(25) - Contact Thanks</a></li>
                                <li><a href="/esourcing-register">29 (30) - Register as a buyer for the CCS eSourcing tool</a></li>
                                <li><a href="/esourcing-training">31,32 (33) - Book online training for the CCS eSourcing tool</a></li>
                                <li><a href="/insurance-services-nda">34 (35) - Insurance Services 2 non-disclosure agreement (NDA)</a></li>
                                {#<li><a href="/newsletter">27 (28) - Sign up to receive news and updates from CCS</a> (not MVP)</li>#}
                            </ul>

                        </div>
                        {#<div class="govuk-grid-column-one-quarter">#}
                        {#</div>#}
                    </div>

                </div>
            </div>


        </main>
    </div>

{% endblock %}
