<div class="apollo-enclosure">
    <h2 class="aside__heading">Helpful Links</h2>
    <ul class="govuk-list govuk-!-font-size-19">
        <li><a class="govuk-link" href="/glossary">Glossary</a></li>
        <li><a class="govuk-link" href="/how-to-buy">How to buy</a></li>
        <li><a class="govuk-link" href="/how-to-supply">How to supply</a></li>
        <li><a class="govuk-link" href="/about-gca/transforming-public-procurement">Transforming Public Procurement</a></li>
        <li><a class="govuk-link" href="/news/?&categories=168&page=1">Procurement Essentials</a></li>
    </ul>
</div>