<div class="apollo-enclosure">
    <h2 class="aside__heading">Helpful Links</h2>
    <ul class="govuk-list govuk-!-font-size-19">
        <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/glossary">Glossary</a></li>
        <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/start-buying">How to buy</a></li>
        <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/start-supplying">How to supply</a></li>
        <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/information-for-buyers-and-suppliers/transforming-public-procurement">Transforming Public Procurement</a></li>
        <li><a class="govuk-link" href="https://www.crowncommercial.gov.uk/news/?&categories=168&page=1">Procurement Essentials</a></li>
    </ul>
</div>