{% extends 'base.html.twig' %}

{% block title %}Thank you for submitting your information - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{# Remove colour flourishes from this page #}
{% block flourishClasses %}{% endblock %}


{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


        {# <div class="govuk-phase-banner">
            {% include '/includes/phase-banner-content.html.twig' %}
        </div> #}

        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl page-title page-title--tight">Thank you for your message, we will get in touch with you as soon as possible</h1>

                    {#<div class="page-intro page-intro--tight"><p>We have received your message and one of our team will be in contact with you as soon as possible.</p></div>#}
                </div>
            </div>
        </main>

    </div>

{% endblock %}
