   <div class="emergency-banner" role="banner" data-nosnippet>
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="emergency-banner-heading">Potential cyber attack threat</h2>
                    <p class="emergency-banner-description">A worldwide IT vulnerability was discovered in Apache’s log4j product on Friday 10 December. 
                    If this is used by your IT systems you could be vulnerable to a cyber attack.
                    This is a serious issue for the government and we are working hard to make sure that any potentially vulnerable systems are protected.
                    </p>
                    <a href="https://www.crowncommercial.gov.uk/news/critical-it-vulnerabilities-in-apaches-log4j" class="emergency-banner-link govuk-link">Information for customers and suppliers (updated on Tuesday 21 December)</a>
                </div>
            </div>
        </div>
    </div>