<footer class="govuk-footer footer-global" role="contentinfo">
    <div class="govuk-width-container ">

        <div class="govuk-footer__navigation">

            <div class="govuk-footer__section">
                <a class="govuk-footer__link logo" href="/"><img src="/assets/images/CCS_WHITE_SML_AW.png" alt=""></a>

                <ul class="list list--inline">
                    <li>
                        <a href="/" class="govuk-footer__link">
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>
                            </span> </a>
                    </li>
                    <li>
                        <a href="/" class="govuk-footer__link">
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/></svg>
                            </span> </a>
                    </li>
                </ul>

                <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
                    Crown copyright</a>

            </div>

            <div class="govuk-footer__section">
                <h2 class="govuk-footer__heading govuk-!-font-size-22">Sitemap</h2>


                <ul class="govuk-list govuk-!-font-size-18">
                    <li class="">
                        <a class="govuk-footer__link" href="#1"> Search
                            framework </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#2"> Search
                            suppliers </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Upcoming
                            deals </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#4"> How to buy </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#5"> For
                            suppliers </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#6"> Help and
                            support </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> About CCS </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Contact
                            CCS </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> News </a>
                    </li>


                </ul>

            </div>

            <div class="govuk-footer__section">
                <h2 class="govuk-footer__heading govuk-!-font-size-22">Quick
                    links</h2>


                <ul class="govuk-list">
                    <li class="">
                        <a class="govuk-footer__link" href="#1"> Purchasing
                            platform </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#2"> Digital
                            marketing </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3">
                            eMarketplace </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Energy </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Fleet </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Travel </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Contracts
                            finder </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="/template/32-book-esourcing-training"> eSourcing </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Tenders
                            Electronic Daily (TED) </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Submit your
                            MISO returns </a>
                    </li>


                </ul>

            </div>

            <div class="govuk-footer__section">
                <h2 class="govuk-footer__heading govuk-!-font-size-22">About and
                    contact</h2>

                <ul class="govuk-list">
                    <li class="">
                        <a class="govuk-footer__link" href="#1"> About CCS </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#2"> Contact
                            CCS </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Careers </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Terms and
                            conditions </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Cookie
                            policy </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="#3"> Corporate
                            information </a>
                    </li>
                    <li class="">
                        <a class="govuk-footer__link" href="/template/44-error"> Privacy
                            notice </a>
                    </li>
                </ul>


                <h2 class="govuk-footer__heading govuk-!-font-size-22">
                    Newsletter</h2>

                <ul class="govuk-list">
                    <li class="">
                        <a class="govuk-footer__link" href="#1"> Sign up for our
                            monthly newsletter </a>
                    </li>
                </ul>


            </div>

        </div>
    </div>
</footer>
