<header class="header-global">
    <div class="ccs-width-container">


        <div class="nav-wrapper">

            <a href="/" class="logo"><img src="/assets/images/CCS_WHITE_SML_AW.png" alt="Go to the CCS homepage">
            </a>

            <button class="global-navigation__toggler" data-toggler="nav">
                <span>Menu</span> <span class="icon">
<svg width="16" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M14.5 1.12H1.464M14.5 6.12H1.464M14.5 11.24H1.464"/></g></svg>
        </span>
            </button>

            <nav class="global-navigation" data-toggle="nav">
                <ul class="nav-list nav-list--secondary">
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/template/38-generic">About CCS</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/contact">Contact CCS</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/template/41-42-news-listing">News</a></li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/template/36-how-to-buy">Help and
                            support</a></li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="tel:0345 410
                            2222">Helpline: 0345 410
                            2222</a></li>
                </ul>
                <ul class="nav-list nav-list--primary">
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/frameworks">Search
                            frameworks</a></li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/template/11-15-suppliers-search-results">Search
                            suppliers</a></li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/template/18-upcoming-deals">Upcoming deals</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="link">Products and
                            services</a></li>
                </ul>
            </nav>
        </div>


    </div>
</header>
