<header class="{% block headerclasses %}header-global{% endblock %}" {% block headerstyles %}{% endblock %}>
    <div class="ccs-width-container">

        {% block bannerarea %}
            <div class="govuk-phase-banner">
                {% include '/includes/phase-banner-content.html.twig' %}
            </div>
        {% endblock %}

        {% block ppglogin %}
            {% if (page.title is defined) and ('Public Procurement Gateway: guides' in page.title) %}
                {% include '/includes/ppg-login.html.twig' %}
            {% endif %}
        {% endblock %}


        <div class="nav-wrapper">

            <a href="/" class="logo">
               <picture>
                <source srcset="/assets/images/CCS_WHITE_SML_AW_140.png" media="(min-width: 400px)" />
                <source srcset="/assets/images/CCS_WHITE_SML_AW_large.png" media="(min-width: 1000px)" />
                <img class="navLogo" src="/assets/images/CCS_WHITE_SML_AW_140.png" alt="Go to CCS Homepage" />
               </picture>
            </a>

            

            <button class="global-navigation__toggler" data-toggler="nav">
                <span>Menu</span> <span class="icon-menu-closed"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M14.9561 3.59459L13.3615 2L7.47022 7.89124L1.59508 2.01609L0.000483532 3.61069L7.47187 11.0821L9.06646 9.48748L9.06482 9.48583L14.9561 3.59459Z" fill="#9B1A47"/>
</svg></span>
                 <span class="icon-menu-open" style="display:none"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.0439452 8.40541L1.63854 10L7.52978 4.10876L13.4049 9.98391L14.9995 8.38931L7.52813 0.917931L5.93354 2.51252L5.93518 2.51417L0.0439452 8.40541Z" fill="#9B1A47"/>
</svg></span>
            </button>

            {% block mainnavigation %}
            <nav class="global-navigation" data-toggle="nav" data-app-uri="{{ app.request.uri }}" data-app-pathinfo="{{ app.request.pathinfo }}">

                {{ render(controller(
                    'App\\Controller\\MenuController::menu',
                    { 'id': 22, 'currentPath': app.request.pathinfo, 'templatePath': 'menus/secondary-menu.html.twig' }
                )) }}

                {{ render(controller(
                    'App\\Controller\\MenuController::menu',
                    { 'id': 21, 'currentPath': app.request.pathinfo, 'templatePath': 'menus/primary-menu.html.twig' }
                )) }}

                {% include 'menus/ppg-menu.html.twig' %}

            </nav>

            {% endblock %}
        </div>

        {% block featuredcontent %}{% endblock %}

    </div>
</header>
