<header class="header-global header-global--home" style="background-size: cover; background-image: url(/assets/images/header.jpg);">
    <div class="ccs-width-container">


        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="nav-wrapper">

            <a href="/" class="logo"><img src="/assets/images/CCS_WHITE_SML_AW.png" alt="Go to the CCS homepage">
            </a>

            <button class="global-navigation__toggler" data-toggler="nav">
                <span>Menu</span> <span class="icon">
<svg width="16" height="13" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M14.5 1.12H1.464M14.5 6.12H1.464M14.5 11.24H1.464"/></g></svg>
        </span>
            </button>

            <nav class="global-navigation" data-toggle="nav">
                <ul class="nav-list nav-list--secondary">
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/template/38-generic">About CCS</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/contact">Contact CCS</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/template/41-42-news-listing">News</a></li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/template/36-how-to-buy">Help and
                            support</a></li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="tel:03454102222">Helpline: 0345 410
                            2222</a></li>
                </ul>
                <ul class="nav-list nav-list--primary">
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/frameworks">Search
                            frameworks</a></li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/template/11-15-suppliers-search-results">Search
                            suppliers</a></li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="/template/18-upcoming-deals">Upcoming
                            deals</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="link">Products and
                            services</a></li>
                </ul>
            </nav>
        </div>




        <div class="govuk-width-container">
            <div class="news--featured">

                <div class="news-listing-meta--featured">News | 17th November 2017</div>
                <h2 class="govuk-heading-xl govuk-!-font-size-48 page-title news-listing-title--featured">New data protection legislation is coming: How to ensure data processing contracts comply with the law</h2>
                <p class="news-listing-summary--featured">Small businesses are the backbone of the UK's economy and we're commited to levelling the playing field.</p>

                <p class="news-listing-summary--featured"><a href="/template/26-43-news-details">Continue reading</a></p>

            </div>
        </div>




    </div>
</header>
