   <div class="message-banner" role="banner" data-nosnippet>
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="message-banner-heading">{{title}}</h2>
                    <p class="message-banner-description">{{description}}</p>
                    <a href="{{link_url}}" class="message-banner-link govuk-link">{{link}}</a>
                </div>
            </div>
        </div>
    </div>