   <div class="message-banner" role="banner" data-nosnippet>
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="message-banner-heading">{{title}}</h2>

                    {% if description is defined and description is not empty %}
                        <p class="message-banner-description">{{description}}</p>
                    {% endif%}

                    {% if link_url is defined and link_url is not empty and link is defined and link is not empty %}
                        <a href="{{link_url}}" class="message-banner-link govuk-link">{{link}}</a>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
