{# The old content of the phase-banner: #}
<p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta 
    </strong> 
    <span class="govuk-phase-banner__text">
        Help us make this service better for you.
        <a href={{ survey_link }}> Give feedback on how we can improve this service</a>.
    </span>
</p>