<div class="ppg-login">
    <ul class="ppg-login-links">
        <li class="ppg-login-link"><p class="ppg-login-text">Public Procurement Gateway: </p></li>
        <li class="ppg-login-link"><p class="ppg-login-text"><a href="{{ppgCreateAccount}}">Create account</a> or <a href="{{ppgLogin}}">Sign in</a></p></li>
    </ul>
</div>