<!DOCTYPE html><html lang="en"><head>
    <!-- DEVELOPERS: The EVOLVE Team (evolveauthoring.com) - Akram Ali, Sal Ali, Wesley Atkinson, Nairi Booloozian, Matt Cleghorn, Daryl Hedley, Malcolm Jukes, Brandon Karunakaran -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }

        *:active {
            outline: none;
        }

        html, body {
            height: 100%;
        }

        html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
            margin: 0;
            padding: 0;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
    <link href="ccs-lms/player/css/player.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div id="ev-root">
    </div>
    <script src="ccs-lms/libraries/raphael.js" type="text/javascript" language="javascript"></script>
    <script src="ccs-lms/libraries/modernizr.js" type="text/javascript" language="javascript"></script>
    <script src="ccs-lms/player/js/courseData.js" type="text/javascript" language="javascript"></script>
    <script src="ccs-lms/player/js/player.min.js" type="text/javascript" language="javascript"></script>

<script src="ccs-lms/libraries/pdfmake.js" type="text/javascript" language="javascript"></script>
<script src="ccs-lms/libraries/vfs_fonts.js" type="text/javascript" language="javascript"></script>
</body></html>