/*------------------------------------*\
  #Accordion
\*------------------------------------*/
.govuk-accordion__section-button {

    @include govuk-font(22, $weight: regular);

}

.js-enabled .govuk-accordion__section-header {

    padding-bottom: govuk-px-to-rem(20);

}

.js-enabled .govuk-accordion__section-button {

    padding-top: govuk-px-to-rem(20);

}

.js-enabled .govuk-accordion__section-content {

    padding-top: 0;
    padding-bottom: govuk-px-to-rem(30);

}

.js-enabled .govuk-accordion__icon:after,
.js-enabled .govuk-accordion__icon:before {

    width: 12.5%;
    height: 12.5%;
    border-width: 1px;

}
.js-enabled  .govuk-accordion__icon:before {
    width: 100%;
}

.js-enabled  .govuk-accordion__icon:after {
    height: 100%;
}

.js-enabled .govuk-accordion__section + .govuk-accordion__section {

    //border: 0;

}

// Apply to any section which follows an open accordion one (design choice)
.govuk-accordion__section--expanded + .govuk-accordion__section {

    //border-color: transparent;

}

.govuk-accordion__controls {

    margin-bottom: 10px;

}


.js-enabled .ccs-accordion--clean {
    border-bottom: 0 none;
}

.js-enabled .ccs-accordion__section--clean {
    border-top: 0 none;
    padding-bottom: govuk-px-to-rem(2);
}
