.achievement_image {
    position: relative;
    height: 200px;
}

.achievement_img {
    border-radius:50%; 
    position: relative; 
    width: 250px; 
    height: 250px; 
    overflow: hidden; 
    object-fit: cover;
}

.achievement_text {
    margin-left: 5%;
    max-width: 600px;
}

.achievement_border {
    border-left-style: solid;
    border-color: var(--sub-color); 
    border-width: 4px;
}