/*------------------------------------*\
  #Card
\*------------------------------------*/

.apollo-card {
    margin-bottom: govuk-px-to-rem(20);

    &:last-child {
        margin-bottom: 0;
    }
}

.apollo-card__inner {
    border: 1px solid #E7E7E7;
    font-family: $govuk-font-family;
    position: relative;
}


.apollo-card__heading {
    font-size: govuk-px-to-rem(22);
    line-height: govuk-px-to-rem(28);
    margin: govuk-px-to-rem(5) 0 govuk-px-to-rem(6) 0;

    > a {
        color: #007194;
        text-decoration: none;
    }
    
    > a:after {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}


.apollo-card__details {
    padding: govuk-px-to-rem(20) govuk-px-to-rem(22) govuk-px-to-rem(30) govuk-px-to-rem(22);
}


.apollo-card__details__meta {
    font-weight: 600;
}


@include govuk-media-query($from: tablet) {
    .apollo-card {
        margin-bottom: 0;
    }
}
