/*------------------------------------*\
  #Footer
\*------------------------------------*/
.footer-global {

    background-color: $ccs-footer-colour;
    color: govuk-colour("white");
    padding-top: govuk-px-to-rem(50);

}

.govuk-footer__list-item.govuk-footer__list-item {

    margin-bottom: 0;

}

.govuk-footer__link.govuk-footer__link {

    color: white;

    &:visited {
        color: white;
    }
    &:hover {
        color: govuk-colour("grey-4");
    }
    &:focus {
        color: govuk-colour("black");
    }
    &:active {

        color: govuk-colour("grey-4");

    }

}

.govuk-footer__heading {

    border-color: #636363;
    color: inherit;
    margin-bottom: govuk-px-to-rem(18);
    margin-top: 0;
    padding-bottom: govuk-px-to-rem(16);

}
