
/*------------------------------------*\
  #Footer
\*------------------------------------*/

.freetext-component .intro-freetext-heading p,h2,h3,h4 {
    margin-top:0px;
}

.freetext-component .intro-freetext-heading h2,h3,h4 {
    font-family: "Source Sans Pro","HelveticaNeue","Helvetica Neue","Arial","Helvetica",sans-serif;
    font-weight: 600;
}

.freetext-component .free-wid{
 
    position: relative;
}

.row {
    clear: both;
    content: "";
    display: block;
    width: 100%;
  }

.grid{
    float: left;
    padding: 10px;
}

.grids{
    float: right;
    padding: 10px;
    position: relative;

}
.grid--half{
    width: 50%;
}

.free-overflow{
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden; 
    object-fit: cover;
}

.freetext-component .govuk-padding-left-35 {
    padding-left:35px;
}

/* paddding right to match right column padding*/
.freetext-component .left-freetext-column-padding-right {
    padding-right:35px;
}

// display span border and div side by side
.intro-freetext-heading-right  {
    display: inline-block;
    position: relative;
}

// red border
.govuk-border-left-free-text{
    display: inline;
    border-left-width: 5px;
    position: absolute;
    height: 100px;
    border-color: $ccs-colour;
    border-color: var(--sub-color);
    border-left-style: solid;
    left: -5px;
}

// free text mobile view
@media screen and (max-width: 640px) {
   .govuk-border-left-free-text{
      margin-bottom: govuk-px-to-rem(300);     
  }

//   padding 15px on mobile to align with left free text
  .freetext-component .freetext-right {
    padding-left: 15px !important;
    margin-top:20px;
  }

}


.wysiwyg-content-free-text-heading{
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 14px; 
    line-height: 23px;
    color: #0b0c0c;
    overflow: hidden;
    white-space: normal; 
}

.wysiwyg-content-free-text{
    color: #0b0c0c;
    margin-top: 100px;
    margin-bottom: 50px;  
}

.font-free-text{
    font-size: 30px;
    font-weight: bold;
}

.wysiwyg-content-free-text-left-banner{
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 40px; 
    line-height: 20px;
    color: #0b0c0c;
    margin-top: 100px;
}


.wysiwyg-content-free-text-content-field{
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 18px; 
    line-height: 23px;
    color: #0b0c0c;

}

.govuk-overflow-freetext{
    overflow: hidden; 
}

.govuk-border-free-text{
    border:16px 
    solid #FF0000; 
    height: 110px;
    border-radius: 0px; 
    margin-top:100px; 
    margin-bottom:2000px;
}

.freetext-cta-btn {
    margin-top:30px;
}
