/*------------------------------------*\
  #Header
\*------------------------------------*/

.header-global {

    background: $ccs-colour;
    color: #000000;

    @media only print {
        padding-bottom: 20px; // print with graphics: fix bottom header light red line
    }

}

.header-global--news-details {

    background: #404040;
    color: govuk-colour("white");

}

.header-global a {

    color: #000000;

    &:hover,
    &:active {

        color: govuk-colour("light-grey");

    }
    &:focus {

        color: $govuk-focus-text-colour;

    }
    @media only print {
        color: #000000;
    }

}

.logo {

    display: block;

    max-width: govuk-px-to-rem(110);

    &:hover {

        opacity: 0.5;

    }

    img {
        max-width: 100%;
    }

    @include govuk-media-query($from: desktop) {

        max-width: govuk-px-to-rem(140);

    }

}

.header-global .logo {

    padding-top: govuk-px-to-rem(20);

    @include govuk-media-query($from: desktop) {

        // IE9 Fix
        float: left;

        padding-top: 0;
        margin-right: auto;

    }

}


.logo img {
    // IE9 Fix
    border: 0 none;
}


.footer-global .logo {

    margin-bottom: govuk-px-to-rem(40);

}
