/*------------------------------------*\
  #Header
\*------------------------------------*/

.header-global {

    background: $ccs-colour;
    color: #000000;

    @media only print {
        padding-bottom: 20px; // print with graphics: fix bottom header light red line
    }

}

.header-global a {

    color: #000000;

    &:hover,
    &:active {

        color: govuk-colour("light-grey");

    }
    &:focus {

        color: $govuk-focus-text-colour;

    }
    @media only print {
        color: #000000;
    }

}

.header-global--news-details {

    background: #404040;
    color: govuk-colour("white");

    a {
        color: govuk-colour("white");

        &:hover {
            text-decoration: underline;
            border: none;
        }
    }

}

.nav-wrapper-logo {

    @include govuk-media-query($from: desktop) {

        margin-right: auto;
    }
}

.desktop-nav-logo {
    display: none;

    @include govuk-media-query($from: desktop) {
        display: block;
    }
}

.mobile-nav-logo {
    
    display: block;

    @include govuk-media-query($from: desktop) {
        display: none;
    }
}

.logo {

    max-width: govuk-px-to-rem(110);

    &:hover {

        opacity: 0.5;

    }

    @include govuk-media-query($from: desktop) {

        max-width: govuk-px-to-rem(246);

    }

}



.header-global .logo {

    padding-top: govuk-px-to-rem(20);

    @include govuk-media-query($from: desktop) {

        // IE9 Fix
        float: left;

        padding-top: 0;
        margin-right: auto;

    }

}


.logo img {
    // IE9 Fix
    border: 0 none;
}

.header-global--news-details > .ccs-width-container > .nav-wrapper > .logo > img {
    filter: invert(100%)
}


.footer-global .logo {

    margin-bottom: govuk-px-to-rem(40);

}
