/*------------------------------------*\
  #Images
\*------------------------------------*/

img {

    max-width: 100%;
    height: auto;
    vertical-align: baseline;

}

.wp-caption {

    margin: 0 0 20px 0;


}
.wp-caption-text {

    @extend .govuk-body;

    margin-top: 20px;

}

// Aligment modifiers for Wordpress
// Requires styling to match GDS
.alignnone {

    float: none;

}
.alignleft {

    float: left;
    max-width: 38.2%;
    margin: 0 20px 20px 0;
}
.aligncenter {

    float: none;

}
.alignright {

    float: right;
    max-width: 38.2%;
    margin: 0 0 20px 20px;
}
