/*------------------------------------*\
  #Images
\*------------------------------------*/

.ccs-inline-contact-form {
    margin-top: govuk-px-to-rem(60);
}

.js-contact-form-sub-heading {
  margin-top:govuk-px-to-rem(35);
  font-weight: 700;
}
