/*------------------------------------*\
  #Lists
\*------------------------------------*/

.list--inline {

    list-style-type: none;
    padding-left: 0;

    li {

        display: inline-block;
        margin-right: 0.5em;

    }

}

.footer-global .govuk-list li {

    margin-bottom: govuk-px-to-rem(2);

}

.govuk-list--definition {


    dt {

        display: inline-block;
        font-weight: 600;
        width: 50%;

        &:after { content: ":"; }

    }

    dd {

        display: inline-block;
        margin: 0;
        width: 45%;

        &:before {

            content: " ";
            display: block;
            clear: both;

        }

    }

}

.apollo-list--definition {

    @include govuk-font(19, $weight: regular);


    dd {

        margin-left: govuk-px-to-rem(25);

    }

}

.apollo-list--definition__key {

    margin-bottom: govuk-px-to-rem(10);
    font-weight: 600;

}

// Suppliers details template
.apollo-enclosure--framework-lots .govuk-summary-list {

    margin-bottom: govuk-px-to-rem(30-16-10);

}


// Used to display lists of documents
.govuk-list--suppliers {

    > li + li {

        border-top: govuk-px-to-rem(1) solid $ccs-border-colour;
        padding-top: govuk-px-to-rem(20);

    }

}
