/*------------------------------------*\
  #Phase banner
\*------------------------------------*/

.header-global .govuk-phase-banner {

    border-bottom-color: rgba(white, 0.2);

}

.header-global .govuk-phase-banner__content {

    color: white;

    .govuk-link {

        color: inherit;

    }

}

.govuk-phase-banner {

    padding-left: 15px;
    padding-right: 15px;

    @include govuk-media-query($from: 641) {

        padding-left: 30px;
        padding-right: 30px;

    }

    @include govuk-media-query($from: desktop) {

        padding-left: 0;
        padding-right: 0;

    }

}
