.ppg-login {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 768px) {
      visibility: hidden;
      display: none;
    }
  
    @media only print {
      display: none;
    }
}
.ppg-login-links {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.ppg-login-text {
  color: #000000;
  margin: 0;
}

.ppg-login-link {
  list-style-type: none;
  padding:7px 10px;
  background-color: #B4CDFE;
  margin-right: 1px;
  @include govuk-font(18, $weight: regular);
}