.app-c-print-link .app-c-print-link__link {
    background: url(../images/icon-print-2x.png) no-repeat 0 50%;
    padding: 0.5em 0 0.5em 28px;
}
.app-c-print-link .app-c-print-link__link {
    background-image: url(../images/icon-print-2x.png);
    background-size: 16px 18px;
}
