/*------------------------------------*\
  #Print page
\*------------------------------------*/

.app-c-print-link__link {

    border: 0;
    @include govuk-font(19, $weight: regular);
    color: $govuk-link-colour;
    text-decoration: underline;

    &:hover,
    &:active {

        color: $govuk-link-hover-colour;
        text-decoration: none;

    }

    &:focus {
        color: $govuk-focus-text-colour;
        background-color: $govuk-focus-colour!important;
        box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
        // When link is focussed, hide the default underline since the
        // box shadow adds the "underline"
        outline: $govuk-focus-width solid transparent;
    }


}

.app-c-print-link .app-c-print-link__link {
    background: url(../images/icon-print-2x.png) no-repeat 0 50%;
    padding: 0.5em 0 0.5em 28px;
}

.app-c-print-link .app-c-print-link__link {
    background-image: url(../images/icon-print-2x.png);
    background-size: 16px 18px;
}

/*
 * If Javascript isn't available, the link won't work
 */
.no-js .app-c-print-link__link {

    display: none;

}

@media only print {
    h1 {
        color: red;
    }
    // **** REMOVE LAYOUT SECTIONS FOR PRINT **** //
    .global-navigation__toggler, // the menu toggler
    .govuk-phase-banner,
    .featured-news-img-container, // the featured news image on the news page
    .news-img-container,
    main.govuk-main-wrapper>.govuk-grid-row>.govuk-grid-column-one-quarter, // hide View Archives on news page
    .staging-banner, //.ppg-login,
    form[action="/suppliers/search"],
    form[action="/agreements/search"] {
        display: none;
    }
    .global-navigation[aria-hidden="true"] {
        // make nav visible for print (override the rule @ _navigation.scss line 68)
        visibility: visible;
        display: flex;
    }
    .nav-wrapper>.logo {
        // align the logo
        align-self: center;
        padding-right: 50px;
        padding-left: 10px;
    }
    .nav-wrapper>.logo img {
        content: url("/assets/images/CCS_BLACK_SML_AW.png"); // load black logo for print
    }
    .nav-list--primary .nav-list-link,
    .nav-list--secondary .nav-list-link {
        line-height: .6;
    }
    .govuk-hero-content {
        // keep hero content centred
        text-align: center;
    }
    //**** REMOVE BACKSLASHES AFTER LINKS ****//
    a.nav-list__link::after,
    a.logo::after, // the backslash after the logo
    a.news-listing__item__image-link::after, // image link
    a.govuk-breadcrumbs__link::after, // the backslash after the breadcrumbs list
    ul.pagination a::after, // the pagination links
    a.ccs-filters-summary__facet__cancel::after, // the link on agreements page search summary
    .news-listing-meta>a::after // the backslash after blog type on news page
    //a[href^="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"]::after, // the backslash after copyright in the footer
    //a.govuk-footer__link::after,q
    {
        display: none;
    }
    a.govuk-caption-link[href="/power-to-your-procurement"] {
        // keep caption link centered
        margin: 50px;
        text-align: center;
    }
    a::after {
        // display the url links on a new line
        display: block;
    }
    // **** STRETCH COLUMNS FOR PRINT **** //
    .featured-news-text-container,
    .govuk-grid-column-one-quarter,
    .govuk-grid-column-three-quarters,
    .govuk-grid-column-two-thirds,
    .news-listing-block {
        box-sizing: border-box;
        width: 100% !important;
        padding: 0 15px;
    }
    .card-list__item {
        min-width: 100% !important;
    }
}