.circle_flourish {
    background: var(--sub-color);
    border-radius: 50%;
    content: "";
    height: 150px;
    width: 150px;
    position: relative;
    right: 25px;
    bottom: 130px;
    z-index: -1;
}
