/*------------------------------------*\
  .Subcategories
  Uses calc() to force 100% width of window for three different breakpoints.
\*------------------------------------*/

.subcategories {

	margin-bottom:40px;

	.greyed-bg {		
		padding:4%;

		ul.card-list {

			.card-list__item__wrapper > p {
				margin-bottom:0;
			} 

			li {
				margin-bottom:30px;
			}

			&:after {
				content:"";
				clear:both;
				display:block;
			}
		}
	}

}
/*
 CSS variables:
 marginA = Initial offset
 marginB = Divided by 2 (for each side of a centred element)
 marginC = 0 - calculated margin, to make it negative

 Allows the component to escape its parent container 
 and fill the full width of the viewport.
 */

/*
@supports (margin: 0 calc(100% - 40em)) {


	.subcategories {
		.greyed-bg {
			padding:5%;
			width:100vw;
			box-sizing: border-box;
			--marginA: 30px;
			--marginB: calc(var(--marginA) / 2);
			--marginC: calc(0px - var(--marginB));
			margin:0 var(--marginC)!important;
		}
	}

	@media only screen and (min-width: 40.0625em) {
	 	.subcategories {
			.greyed-bg {
				--marginA: 60px;
				--marginB: calc(var(--marginA) / 2);
				--marginC: calc(0px - var(--marginB));
				margin:0 var(--marginC)!important;
			}
		}
	}

	@media only screen and (min-width: 1080px) {
	  .subcategories {
	  	.greyed-bg {
			--marginA: calc(100vw - 1020px);
			--marginB: calc(var(--marginA) / 2);
			--marginC: calc(0px - var(--marginB));
			margin:0 var(--marginC)!important;
		}
	  }
	}

}

*/