/*------------------------------------*\
  #Warning text
\*------------------------------------*/

// Move padding to parent to allow for multiline texts
.govuk-warning-text {

    padding-left: 50px;

}

.govuk-warning-text__text {

    padding: 0;
    font-weight: 600;

}

.govuk-warning-text__icon {
    top: 0;
    transform: translateY(50%);
}
