# System routes
healthcheck:
  path: /health
  controller: App\Controller\PageController::healthcheck

# Page routes
home:
  path: /
  controller: App\Controller\PageController::home

frameworks_search:
  path: /agreements/search/{page}
  controller: App\Controller\FrameworksController::search
  requirements:
    page: '\d+'
  defaults:
    page: 1

frameworks_list:
  path: /agreements/{page}
  controller: App\Controller\FrameworksController::list
  requirements:
    page: '\d+'
  defaults:
    page: 1

frameworks_upcoming_deals:
  path: /agreements/upcoming
  controller: App\Controller\FrameworksController::upcomingDeals

frameworks_list_by_category:
  path: /agreements/category/{category}/{page}
  controller: App\Controller\FrameworksController::listByCategory
  requirements:
    page: '\d+'
  defaults:
    page: 1

frameworks_list_by_pillar:
  path: /agreements/pillar/{pillar}/{page}
  controller: App\Controller\FrameworksController::listByPillar
  requirements:
    page: '\d+'
  defaults:
    page: 1

frameworks_show:
  path: /agreements/{rmNumber}
  controller: App\Controller\FrameworksController::show

frameworks_suppliers:
  path: /agreements/{rmNumber}/suppliers/{page}
  controller: App\Controller\FrameworksController::suppliersOnFramework
  requirements:
    page: '\d+'
  defaults:
    page: 1

frameworks_lot_suppliers_csv:
  path: /agreements/{rmNumber}:{lotNumber}/lot-suppliers/csv
  controller: App\Controller\FrameworksController::suppliersOnLotCsv

frameworks_lot_suppliers:
  path: /agreements/{rmNumber}:{lotNumber}/lot-suppliers/{page}
  controller: App\Controller\FrameworksController::suppliersOnLot
  requirements:
    page: '\d+'
  defaults:
    page: 1

suppliers_search:
  path: /suppliers/search/{page}
  controller: App\Controller\SuppliersController::search
  requirements:
    page: '\d+'
  defaults:
    page: 1

suppliers_list:
  path: /suppliers/{page}
  controller: App\Controller\SuppliersController::list
  requirements:
    page: '\d+'
  defaults:
    page: 1

suppliers_show:
  path: /suppliers/{id}/{slug}
  controller: App\Controller\SuppliersController::show
  requirements:
    id: '\d+'

news_list:
  path: "/news/{page}"
  controller: App\Controller\NewsController::list
  defaults:
    page: 1
  requirements:
    page: '\d+'

api_suppliers:
  path: /api/suppliers
  controller: App\Controller\ApiController::suppliers
  defaults:
    _format: json

api_frameworks:
  path: /api/frameworks
  controller: App\Controller\ApiController::frameworks
  defaults:
    _format: json

news_page:
  path: "/news/{slug}"
  controller: App\Controller\NewsController::show

form_contact:
  path: /contact
  controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
  defaults:
    template: forms/22-contact.html.twig

form_contact_thanks:
  path: /contact/thanks
  controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
  defaults:
    template: forms/23-contact-thanks.html.twig

form_contact_thanks_complaint:
  path: /contact/thanks-complaint
  controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
  defaults:
    template: forms/25-contact-thanks-complaint.html.twig


whitepaper_request:
  path: /whitepaper/request/{id}/{slug}
  controller: App\Controller\WhitepaperController::request

whitepaper_confirmation:
  path: /whitepaper/confirmation/{id}/{slug}
  controller: App\Controller\WhitepaperController::show

webinar_request:
  path: /webinar/request/{id}/{slug}
  controller: App\Controller\WebinarController::request

webinar_confirmation:
  path: /webinar/confirmation/{id}/{slug}
  controller: App\Controller\WebinarController::show

#form_newsletter:
#  path: /newsletter
#  controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
#  defaults:
#    template: forms/27-newsletter.html.twig
#
#form_newsletter_thanks:
#  path: /newsletter/thanks
#  controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
#  defaults:
#    template: forms/28-newsletter-thanks.html.twig

form_esourcing_training:
  path: /esourcing-training
  controller: App\Controller\FormController::eSourcingTraining

form_esourcing_training_thanks:
  path: /esourcing-training/thanks
  controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
  defaults:
    template: forms/33-esourcing-training-thanks.html.twig

form_esourcing_register:
  path: /esourcing-register
  controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
  defaults:
    template: forms/29-esourcing-register.html.twig

form_esourcing_register_thanks:
  path: /esourcing-register/thanks
  controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
  defaults:
    template: forms/30-esourcing-register-thanks.html.twig

form_insurance_services_nda:
  path: /insurance-services-nda
  controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
  defaults:
    template: forms/34-insurance-services.html.twig

form_insurance_services_nda_thanks:
  path: /insurance-services-nda/thanks
  controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
  defaults:
    template: forms/35-insurance-services-thanks.html.twig

page:
  path: /{slug}
  controller: App\Controller\PageController::page
  requirements:
    slug: .+
