<div v-for="result in results.slice(0, 1)">
    <div class="govuk-width-container">
        <div class="govuk-grid-row news_wrapper">
            <div v-if="result.imageSet">
                <div class="govuk-grid-column-two-thirds featured-news-img-container">
                    <figure class="image-wrapper news_img">
                        <picture class="">
                            <div v-if="result.imageSet">
                                <img :src="result.imageURL"
                                        :alt="result.altText"
                                        role="presentation"
                                        class=""
                                        loading="lazy"/>
                            </div>
                        </picture>
                    </figure>
                </div>
                <div class="govuk-grid-column-one-third featured-news-text-container">
                    <p class="news-listing-meta">
                        <a :href="result.CategoriesLink">{[ result.postType ]}</a>
                        <span v-if="result.postType != 'Digital Brochure'"> {[result.postedDate]} </span>
                    </p>
                    <h2 class="news-listing-title"><a :href="result.postLink" v-html="result.title.rendered"></a></h2>
                    <p v-html="result.postDescription"></p> 
                </div>
            </div>
            <div v-else class="govuk-grid-column-full news-listing-block">
                <p class="news-listing-meta"> 
                    <a :href="result.CategoriesLink">{[ result.postType ]}</a>
                    <span v-if="result.postType != 'Digital Brochure'"> {[result.postedDate]} </span>
                </p>
                <h2 class="news-listing-title"><a :href="result.postLink" v-html="result.title.rendered"></a></h2>
                <p v-html="result.postDescription"></p>    
            </div>
        </div>
    </div>
</div>