{% extends 'base.html.twig' %}

{% block title %}News - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <div class="govuk-width-container">

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta 
                </strong> 
                <span class="govuk-phase-banner__text">This is a new service – your
                <a class="govuk-link" href={{ survey_link }}>feedback</a> will help us to improve it.
                </span>
            </p>
        </div>

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    News
                </li>
            </ol>
        </div>

        <main id="main-content" role="main"  class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl page-title">News</h1>
                </div>
            </div>


            {% if pages %}
                {% for page in pages %}
                    {# {{ dump(page.content.post_lead_text) }}  #}
                    <div class="govuk-width-container">
                        <div class ="news_div" >
                            {% include 'news/block.html.twig' with {'page': page} %}
                        </div>

                    </div>
                {% endfor %}
            {% endif %}



        </main>
    </div>

{% endblock %}