{% extends 'base.html.twig' %}

{% block title %}News - CCS{% endblock %}

{% block header %}
    {% embed '/includes/header.html.twig' %}
        {% block bannerarea %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block body %}

    <div class="govuk-width-container">

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta 
                </strong> 
                <span class="govuk-phase-banner__text">This is a new service – your
                <a class="govuk-link" href={{ survey_link }}>feedback</a> will help us to improve it.
                </span>
            </p>
        </div>

        {% set filterSet = categoriesName is defined and categoriesName is not empty ? true : false %}
        {% set showFeature = pageNumber is defined and pageNumber == 1  ? true : false %}


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                {% if filterSet %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/news"> News</a>
                    </li>

                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        {{ categoriesName }}
                    </li>
                {% else %}
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">
                        News
                    </li>
                {% endif %}
            </ol>
        </div>

        <main id="main-content" role="main"  class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl page-title">{{ filterSet ? categoriesName : "News"}}</h1>
                </div>
            </div>


            {% if pages %}

                {% if not filterSet and showFeature %}
                    <div class ="news_div" >
                        {% include 'news/block.html.twig' with {'page': pages.current} %}
                    </div>
                {% endif %}

                <div class="govuk-grid-row news_wrapper" >
                    <div class="govuk-grid-column-one-third">
                        <p>filter option</p>
                        <p>filter option</p>
                        <p>filter option</p>
                        <p>filter option</p>
                        <p>filter option</p>
                        <p>filter option</p>
                        <p>filter option</p>
                        <p>filter option</p>
                        <p>filter option</p>
                    </div>

                    <div class="govuk-grid-column-two-thirds">
                        {% for page in pages %}
                            {% if not filterSet and not ( loop.first and showFeature) %}
                                <div class ="news_div" >
                                    {% include 'news/block.html.twig' with {'page': page} %}
                                </div>
                            {% endif %}
                            
                        {% endfor %}
                    </div>
              
                </div>
            {% endif %}


            {{ include('includes/pagination.html.twig', {'pagination': pages.pagination, 'route': 'news_list', 'options': {}}) }}
        </main>
    </div>

{% endblock %}