{% extends 'base.html.twig' %}

{% block body %}


        <p>{{ page.content.post_type }}</p>
        <h1>{{ page.title }}</h1>


        <p>
            {{  page.datePublished.format('d.m.y') }}
        </p>

        <!-- flexible components -->

        <div class="fluid-content">
            {% if page.content.page_content is not empty %}
                {% for component in page.content.page_content %}
                    {% set componentdata = { 'componentobject' : component } %}
                    {% include 'flexible-components/component-' ~ component.acf_fc_layout ~ '.html.twig' with componentdata %}
                {% endfor %}
            {% endif %}

        </div>

        <div class="container content">
            <!-- sharing -->
            <div class="post-sharing two-thirds-width u-margin--t-regular u-margin--b-small"><h4>Share</h4>
                <div class="post-sharing__icons"><span><span data-link="#share-facebook"><span
                                    class="post-sharing__facebook"><i class="u-icon--facebook"></i></span></span><span
                                data-link="#share-twitter"><span class="post-sharing__twitter"><i
                                        class="u-icon--twitter"></i></span></span></span><a
                            href="mailto:?subject=https://www.fauna-flora.org{{ url }}"
                            target="_blank" class="post-sharing__email"><i class="u-icon--icon-mail-footer"></i></a>
                </div>
            </div>

            <!-- more on author -->
            <div class="container__inside two-thirds-width">
                <div itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person" class="author"
                >
                    <div class="author__inside"><!---->
                        <div class="author__item"><span class="u-content--bold">
          Written by:
          <span itemprop="name" class="author__name">{# page.content.author.post_title #}</span></span><span
                                    class="author__title u-content--light-grey u-content--italic u-content--block"
                            >{# page.content.author.acf.job_title #}</span><!----></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}