.cat-agrement-page-title {
  margin-bottom: 15px;
}

.agreement-overview {
  margin-bottom: 0px ;
}

.joint-schedule-title {
  margin-bottom: 0px !important;
}

.grey-margin-bottom {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 2rem;
}