/*------------------------------------*\
  #All pages
\*------------------------------------*/
.govuk-widthless-container {

    //@extend .govuk-width-container;
    //
    //max-width: none;

}


.govuk-main-wrapper--tight {
    padding-top: govuk-px-to-rem(10);

    @include govuk-media-query($from: tablet) {
        padding-top: govuk-px-to-rem(20);
    }

    @include govuk-media-query($from: desktop) {
        padding-top: govuk-px-to-rem(30);
    }
}



.page-introduction {
    padding-bottom: govuk-px-to-rem(10);

    @include govuk-media-query($from: tablet) {
        padding-bottom: govuk-px-to-rem(20);
    }
}

.grey-backgroud {
    background: #F6F6F6;
    padding: 20px;
    margin: 20px 0px;
}

.govuk-phase-banner {
    border: 0;

    &-help-us {
        p {
            border-bottom: 1px solid #b1b4b6;
            padding-bottom: 10px;
            width: 100%;
        }
    }

    &-gca {
        background: #f3f3f3;

        p {
            margin-top: 10px;
            font-weight: 600;
            padding: 10px;
        }
    }
}

.header-global .govuk-phase-banner .govuk-phase-banner-help-us p{
    border-bottom-color: rgba(255, 255, 255, 0.2);
}
