/*------------------------------------*\
  #Homepage
\*------------------------------------*/
.govuk-form-group--enclosure--homepage {

    background-color: rgba(#6D0227, 0.41);
    border-radius: govuk-px-to-rem(3);
    color: white;

    .govuk-label {

        color: inherit;

    }

    .govuk-input {

        border: 0;
        border-radius: govuk-px-to-rem(3) 0 0 govuk-px-to-rem(3);
        box-shadow: 0 2px 4px 0 rgba(black, 0.29);

    }

}

.homepage-hero {

    padding-top: govuk-px-to-rem(50);
    padding-bottom: govuk-px-to-rem(62);

    //max-width: 66%;

    @include govuk-media-query($from: 961) {

        max-width: 100%;
        margin: 0 auto;

    }

}

.homepage-hero-title {

    margin-bottom: govuk-px-to-rem(10);

}

.homepage-hero .govuk-body-l {

    margin-bottom: govuk-px-to-rem(50);

}

.homepage-hero-title,
.homepage-hero .govuk-body-l {

    color: white;
    //text-align: center;

}

.govuk-homepage-hero-full-width {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    background-color:#41424d;
    @media only print {
        background-color: transparent;
    }
}

.govuk-margin-left-right-30{
    margin: 0 30px;
}

.govuk-bg-mobile-color {
    background-color: #2c393f;
}

.govuk-hero-homepage-caption-container {
    font-family: "Source Sans Pro","HelveticaNeue","Helvetica Neue","Arial","Helvetica",sans-serif;
    color: white;
}

.govuk-hero-caption {
    margin: 0 15px 40px 15px;
    border-bottom: 3px solid #007E8A;
    padding-bottom: 50px;
    @media only print {
        border-bottom: none;
    }
}

.govuk-hero-homepage-caption-container{

    .govuk-caption-heading {       
        font-size: govuk-px-to-rem(32);
        color: white;
        @media only print {
            font-size: 2rem;
        }
    }
}

.govuk-hero-caption {

    .govuk-caption-link {
        font-size:govuk-px-to-rem(18);
    }

    .govuk-caption-button {
        margin-top:30px;
        padding-bottom:9px;
    }
}

.homepage-hero__search-button {

    background: $ccs-button-colour url("../images/icon-search-white.png") center center no-repeat;
    background-size: 19px 19px;
    border: 0;
    // 40px to match the input height (this is fickle)
    min-height: govuk-px-to-rem(40);
    min-width: govuk-px-to-rem(44);

    &:hover,
    &:active,
    &:focus {

        background-color: $ccs-button-hover-colour;

    }

}

.homepage-hero__search-group {

    position: relative;

    .homepage-hero__search-button {

        position: absolute;
        bottom: 0;
        margin: 0;
        right: 0;

    }

}


.apollo-island {

    padding: 60px 0;

}

.apollo-island--emphasised {

    background-color: #FCFAF7;
    border-top: 1px solid #E7E4DF;

}

.apollo-island>.govuk-width-container>.govuk-grid-row>.govuk-grid-column-one-half {
    @media only print and (min-width: 40.0625em) {
        box-sizing: border-box;
        width: 100% !important;
        padding: 0 15px;
    }
}

.greyed-bg {

    background-color: #F8F8F8;
    padding: govuk-px-to-rem(69) 0 govuk-px-to-rem(75) 0;

    @include govuk-media-query($from: desktop) {

        padding: govuk-px-to-rem(69) 0 govuk-px-to-rem(93) 0;

    }

}

.is-home .govuk-main-wrapper {

    padding-bottom: 0;

}

.govuk-main-wrapper {

    // firefox print layout fix: prevent events list jumping to next page
    @media only print {
        padding-bottom: 0;
    }
}

.govuk-main-wrapper--tight {

    // firefox print layout fix: prevent events list jumping to next page
    @media only print {
        padding-top: 0 !important;
    }
}

.is-home .footer-global {

    margin-top: 0;

}

.align-center-from-desktop {

    @include govuk-media-query($from: desktop) {

        text-align: center;

    }

}


.mourning_banner_container {
    padding: 15px 0px 15px 0px;
    width: 100%;
    position: relative;
    z-index: 10000;
    border: none;
    display: block;
    background-color: #000000;
    min-height: 30px;
}

.mourning_banner_wrap {
    padding: 0px;
    z-index: 10000;
    border: none;
    display: block;
    background-color: #000000;
    text-align: left;
    font-size: 1em;
    min-height: 30px;
}

// from 769
@include govuk-media-query($from: desktop) {


    .govuk-homepage-hero-full-width {
        width: 100%;
        position: relative;
        left: calc(-50vw + 50%);
        background-color: #41424d;
    }

    // make full width for bg image
    .govuk-hero-img-container {
        width: 100vw;
        position: relative;
        left: calc(-50vw + 50%);
        background-image: url('/assets/images/homepage-hero-default-1.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        // full width image
        width: 100vw;
        position: relative;
        left: calc(-50vw + 50%);
        // make bg image height only as big as it needs to be calc by (img-height/width *100)
        padding-top: 29.25%;

        @media only print {
            background-image: none;
        }
    }

    .govuk-margin-left-right-30 {
        margin-left: 0;
        margin-right: 0;
    }

    .govuk-hero-homepage-caption-container {
        position: absolute;
        top: 0px;
        bottom: 0px;
        // This is for the homepage banner text to appear on the left
        right: 50.5%;
        //
        // This is for the homepage banner text to appear on the right
        // right: 0px;
        // left:57.5%;
        float: right;
        width: 40%;
        display: table;
        height: 100%;

        @media only print {
            left: 10%;
            width: 80%;
            margin-right: 15%;
            height: fit-content; // fix the gap between nav items and caption heading in firefox
        }
    }

    .govuk-hero-caption {
        display: table-cell;
        vertical-align: middle;
        border-bottom: none !important;
    }

    .govuk-hero-margin-right-35 {
        margin-right: 35px;
    }

    // change to default bg color on desktop
    .govuk-bg-mobile-color {
        background-color: rgba(109, 2, 39, 0.41);
    }

    .govuk-hero-homepage-caption-container {

        .govuk-caption-heading {

            font-size: 0.9rem;
            color: white !important;

        }

        .govuk-caption-link {
            font-size: 0.6rem;
            color: white;
            text-underline-offset: 3px;
        }

        .govuk-caption-button {
            margin-top: 10px;
            font-size:0.8rem;
        }

        a:hover {
            text-decoration: none;
        }
    }

    // remove full width on desktop to align image properly
    .govuk-homepage-hero-full-width {
        left: 0;
        // remove mobile bg color
        background-color: transparent;
    }

    .govuk-homepage-search-forms {
        width: 100%;
        margin: 0 auto;
    }
}

// laptop
@include govuk-media-query($from: 996) {
    // fix text overlapping container below 1138px

    .govuk-hero-homepage-caption-container {

        .govuk-hero-caption {
            padding-bottom: 60px;
        }

        .govuk-caption-heading {
            margin-top: 10px;
            font-size: 1.8rem !important;
            font-size: 2.1vw !important;
        }

        .govuk-caption-link {
            font-size: 1.3rem !important;
            font-size: 1.4vw !important;
        }
    }

    .govuk-hero-img-container {
        padding-top: 23%;
    }

    .govuk-homepage-search-forms {
        width: 70%;
        margin: 0 auto;
    }

}

@include govuk-media-query($from: 1338) {

    .govuk-hero-homepage-caption-container {

        .govuk-caption-heading {
            font-size: 2.7rem !important;
            font-size: 2.1vw !important;
        }

        .govuk-caption-link {
            font-size: 1.5rem !important;
            font-size: 1.4vw !important;
        }

        .govuk-caption-button {
            font-size:1.1875rem;
        }
    }

        .govuk-hero-img-container {
            padding-top: 24.25%;
        }

}


@include govuk-media-query($from: 1705) {
    .govuk-hero-img-container {
        padding-top: 30%;
    }

    .govuk-caption-button {
        margin-top: 20px !important;
    }
}

// for larger screens
@include govuk-media-query($from: 2166) {
    .govuk-hero-img-container {
        padding-top: 35%;
    }

    .govuk-caption-button {
        margin-top: 20px !important;
     }
}