{# Start of Page components #}
{% for component in components %}

    {#{{ dump(component) }}#}

    {# Check what component it is via its `name` field #}
    {% if component.name == "intro_intro" %}
        <div class="component intro_and_description">
        {% include '_components/intro_and_description.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

    {% if component.name == "subcategories_subcategories" %}
        <div class="component subcategories">
            {% include '_components/subcategories.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

    {% if component.name == "accordion_accordion" %}
        <div class="component accordion">
            {% include '_components/accordion.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

    {% if component.name == "feature_news_feature_news" %}
        <div class="component feature-news">
            {% include '_components/feature_news.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

    {% if component.name == "feature_events_feature_events" %}
        <div class="component feature-events">
            {% include '_components/feature_events.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

    {% if component.name == "pillars_pillars" %}
        <div class="component pillars">
            {% include '_components/pillars.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

    {% if component.name == "cards_cards" %}
        <div class="component cards">
            {% include '_components/card_list.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

    {% if component.name == "sectors_sectors" %}
        <div class="component sectors">
            {% include '_components/sectors.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

    {% if component.name == "quote_and_image_quote_and_image" %}
        <div class="component quote-and-image">
            {% include '_components/quote_and_image.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

    {% if component.name == "free_text_free_text" %}
        <div class="component free-text">
            {% include '_components/free_text.html.twig' with {'component': component.content } %}
         </div>
    {% endif %}

    {% if component.name == "achievement_and_image_achievement_and_image" %}
        <div class="component achievement-and-image">
            {% include '_components/achievement_and_image.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

    {% if component.name == "featured_featured" %}
        <div class="component featured">
            {% include '_components/featured.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

     {% if component.name == "tabs_tabs" %}
        <div class="component tabs">
            {% include '_components/tabs.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

     {% if component.name == "apollos_apollos" %}
        <div class="component apollo">
            {% include '_components/apollo_card.html.twig' with {'component': component.content } %}
        </div>
    {% endif %}

{% endfor %}
{# End of Page components #}
