{# Start of Page components #}
<div class="wysiwyg-content">
    {# Loop out all components #}
    {% for component in components %}

        {{ dump(component) }}

        {# Check what component it is via its `name` field #}
        {% if component.name == "intro_intro" %}
            {% include '_components/intro_and_description.html.twig' with {'component': component.content } %}
        {% endif %}


    {% endfor %}
</div>
{# End of Page components #}
