<h2 class="govuk-heading-l">Related articles</h2>

<ol class="featured-news govuk-grid-row">

    <li class="feature-news__item apollo-card govuk-grid-column-one-third">
        <div class="apollo-card__inner">
            <img src="https://via.placeholder.com/400x300" alt="" />

            <div class="feature-news__item__details apollo-card__details">
                <span class="apollo-card__details__meta">News | 9th November 2017</span>
                <h3 class="apollo-card__heading"><a href="">Modern Slavery: new guidance and tools available to help</a></h3>
                <p>Tackling modern slavery is one of the UK Government’s top priorities Modern slavery is a serious and organised crime.</p>
            </div>
        </div>
    </li>

    <li class="feature-news__item apollo-card govuk-grid-column-one-third">
        <div class="apollo-card__inner">
            <img src="https://via.placeholder.com/400x300" alt="" />

            <div class="feature-news__item__details apollo-card__details">
                <span class="apollo-card__details__meta">News | 9th November 2017</span>
                <h3 class="apollo-card__heading"><a href="">New Estates Professional Services Framework from CCS</a></h3>
                <p>Lorem ipsum dolor sit amet et do adipiscing do aliquam el mas aqui por lorem an.</p>
            </div>
        </div>
    </li>

    <li class="feature-news__item apollo-card govuk-grid-column-one-third">
        <div class="apollo-card__inner">
            <img src="https://via.placeholder.com/400x300" alt="" />

            <div class="feature-news__item__details apollo-card__details">
                <span class="apollo-card__details__meta">News | 9th November 2017</span>
                <h3 class="apollo-card__heading"><a href="">New security services solutions for the public sector</a></h3>
                <p>Our Security Services lot provides you with a single solution for all your security related needs.</p>
            </div>
        </div>
    </li>

</ol>
