<!doctype html>
<html class="{% block htmlclass %}no-js{% endblock %}" lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}CCS{% endblock %}</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script>(function (H) {
            H.className = H.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement)</script>
    {% block head %}
        <meta property="og:description" name="description" content="{% block metadescription %}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% endblock %}

    {% block pageMetaTags %}{{ (page is defined)? page.head.getAllMetaHtml()|raw : '' }}{% endblock %}

    {% if app.environment == "prod" %}
        <link rel="stylesheet" href="/assets/styles/styles.css?v=1.1.2">
    {% else %}
        <link rel="stylesheet" href="/assets/styles/styles.css?v=1.1.2">
    {% endif %}

    {% block blocking_javascript %}

        {# Google Tag Manager #}
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5NQGRQN');</script>
        {# End Google Tag Manager #}

    {% endblock %}
</head>

{% set flourish = "none" %}
{% if page.taxonomies is defined %}
    {% for taxonomy in page.taxonomies %}

        {% for term in taxonomy %}
            {#{{ term.slug }}#}
            {% set flourish = term.slug %}
        {% endfor %}

    {% endfor %}
{% endif %}


{#
 # Colour flourishes are specified using the `pillar--` class on the body, different
 # values result in different colours being used.
 #
 # If `show-flourishes` isn't included, then certain colour flourishes won't show
#}
<body class="govuk-template__body {% block flourishClasses %}show-flourishes  pillar--{{ flourish }}{% endblock %}">


{# Google Tag Manager (noscript) #}
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NQGRQN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
{# End Google Tag Manager (noscript) #}

<div id="skiplink-container">
    <div>
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    </div>
</div>

{#<a href="#main-content" class="govuk-skip-link">Skip to main content</a>#}

{% block header %}
    {% embed '/includes/header.html.twig' %}
    {% endembed %}
{% endblock %}

{% block body %}{% endblock %}

{{ include('/includes/footer.html.twig') }}

{% block nonblocking_javascript %}

    {% if app.environment == "THIS WILL NEVER BE TRUE" %}
        <script type="text/javascript">
            (function () {
                var s = document.createElement("script");
                s.type = "text/javascript";
                s.async = true;
                s.src = "//api.usersnap.com/load/5c0d7b68-6a20-4882-8277-074dd8f65f37.js";
                var x = document.getElementsByTagName("script")[0];
                x.parentNode.insertBefore(s, x);
            })();</script>
    {% endif %}

{% endblock %}



<script src="/assets/scripts/libraries/jquery-1.12.4.min.js"></script>
<script src="/assets/scripts/libraries/objectFitPolyfill.min.js"></script>
<script src="/assets/scripts/all.js"></script>
<script src="/assets/scripts/app.js?v=1.1"></script>

</body>

</html>
