/*------------------------------------*\
  #Root

  Because browsers that support that understand variables will try to use them, resulting in default black borders if the var doesn't exist

\*------------------------------------*/
:root {
    --sub-color: #{$ccs-colour};
}

/**
 * Whereever you need to use this, use `property: var(--sub-color);`
 * We're only changing one colour at the moment
 */

.pillar--buildings { --sub-color: #{$sub-color-building}; }
.pillar--corporate-solutions { --sub-color: #{$sub-color-corporate-solutions}; }
.pillar--people { --sub-color: #{$sub-color-people}; }
.pillar--technology { --sub-color: #{$sub-color-technology}; }

.sector--local-government { --sub-color: #CC5A13; }
.sector--health { --sub-color: #0057B8; }
.sector--universities-and-colleges { --sub-color: #834CB1; }
.sector--schools-and-academies { --sub-color: #879637; }
.sector--devolved { --sub-color: #CC5A13; }
.sector--police-and-emergency-services { --sub-color: #ECAC00; }
.sector--charities { --sub-color: #57BAB7; }
.sector--local-housing-associations { --sub-color: #879637; }
