{% extends 'base.html.twig' %}

{% block body %}



    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/ZHV7B2S">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <!--<li class="govuk-breadcrumbs__list-item">-->
                <!--<a class="govuk-breadcrumbs__link" href="2-3-frameworks-search-result">Search frameworks</a>-->
                <!--</li>-->
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Search framework
                </li>
            </ol>
        </div>





        <!-- required wrapper 2 -->
        <main id="main-content" role="main" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <h1 class="govuk-heading-xl page-title">Search frameworks</h1>

                </div>
            </div>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">

                    <form action="">

                        <div class="govuk-form-group govuk-form-group--enclosure">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="name">
                                    Keyword search
                                </label>
                                <input class="govuk-input input--search-icon" id="name" name="name" type="text">
                                <button type="submit" class="visuallyhidden">Search suppliers</button>
                            </div>
                        </div>


                        <h2 class="govuk-heading-m">Categories</h2>
                        <ul class="govuk-list">
                            <li><a href="destaination">name of link</a></li>
                            <li><a href="destaination">name of link</a></li>
                            <li><a href="destaination">name of link</a></li>
                            <li><a href="destaination">name of link</a>

                                <ul class="govuk-list">
                                    <li><a href="destaination">name of link</a></li>
                                    <li><a href="destaination">name of link</a></li>
                                    <li><a href="destaination">name of link</a></li>
                                    <li><a href="destaination">name of link</a></li>
                                </ul>

                            </li>
                            <li><a href="destaination">name of link</a></li>
                            <li><a href="destaination">name of link</a></li>
                            <li><a href="destaination">name of link

                                    <ul class="govuk-list">
                                        <li><a href="destaination">name of link</a></li>
                                        <li><a href="destaination">name of link</a></li>
                                        <li><a href="destaination">name of link</a></li>
                                        <li><a href="destaination">name of link</a></li>
                                    </ul>

                                </a></li>
                            <li><a href="destaination">name of link</a></li>
                            <li><a href="destaination">name of link</a></li>
                            <li><a href="destaination">name of link</a>

                                <ul class="govuk-list">
                                    <li><a href="destaination">name of link</a></li>
                                    <li><a href="destaination">name of link</a></li>
                                    <li><a href="destaination">name of link</a></li>
                                    <li><a href="destaination">name of link</a></li>
                                </ul>

                            </li>
                            <li><a href="destaination">name of link</a></li>
                            <li><a href="destaination">name of link</a></li>
                        </ul>


                        {#<div class="govuk-form-group govuk-form-group--enclosure">#}
                            {#<fieldset class="govuk-fieldset" aria-describedby="waste-hint">#}
                                {#<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">#}
                                    {#<h1 class="govuk-fieldset__heading">#}
                                        {#Status#}
                                    {#</h1>#}
                                {#</legend>#}
                                {#<span id="waste-hint" class="govuk-hint">#}
      {#2 selected#}
    {#</span>#}
                                {#<div class="govuk-checkboxes govuk-checkboxes--small">#}
                                    {#<div class="govuk-checkboxes__item govuk-checkboxes__item--small">#}
                                        {#<input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="waste-1" name="waste" type="checkbox" value="carcasses">#}
                                        {#<label class="govuk-label govuk-checkboxes__label" for="waste-1">#}
                                            {#Live#}
                                        {#</label>#}
                                    {#</div>#}
                                    {#<div class="govuk-checkboxes__item govuk-checkboxes__item--small">#}
                                        {#<input class="govuk-checkboxes__input govuk-checkboxes__input--small" id="waste-2" name="waste" type="checkbox" value="mines">#}
                                        {#<label class="govuk-label govuk-checkboxes__label" for="waste-2">#}
                                            {#Expired#}
                                        {#</label>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</fieldset>#}
                        {#</div>#}











                        {#<div class="govuk-form-group govuk-form-group--enclosure">#}
                            {#<fieldset class="govuk-fieldset">#}
                                {#<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">#}
                                    {#<h1 class="govuk-fieldset__heading">#}
                                        {#Results per page#}
                                    {#</h1>#}
                                {#</legend>#}
                                {#<span id="waste-hint" class="govuk-hint">#}
      {#10 results per page#}
    {#</span>#}
                                {#<div class="govuk-radios govuk-radios--small">#}
                                    {#<div class="govuk-radios__item govuk-radios__item--small">#}
                                        {#<input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-1" name="where-do-you-live" type="radio" value="england">#}
                                        {#<label class="govuk-label govuk-radios__label" for="results-per-page-1">#}
                                            {#10#}
                                        {#</label>#}
                                    {#</div>#}
                                    {#<div class="govuk-radios__item govuk-radios__item--small">#}
                                        {#<input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-2" name="where-do-you-live" type="radio" value="scotland">#}
                                        {#<label class="govuk-label govuk-radios__label" for="results-per-page-2">#}
                                            {#25#}
                                        {#</label>#}
                                    {#</div>#}
                                    {#<div class="govuk-radios__item govuk-radios__item--small">#}
                                        {#<input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-3" name="where-do-you-live" type="radio" value="wales">#}
                                        {#<label class="govuk-label govuk-radios__label" for="results-per-page-3">#}
                                            {#50#}
                                        {#</label>#}
                                    {#</div>#}
                                    {#<div class="govuk-radios__item govuk-radios__item--small">#}
                                        {#<input class="govuk-radios__input govuk-radios__input--small" id="results-per-page-4" name="where-do-you-live" type="radio" value="northern-ireland">#}
                                        {#<label class="govuk-label govuk-radios__label" for="results-per-page-4">#}
                                            {#View all#}
                                        {#</label>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</fieldset>#}
                        {#</div>#}





                    </form>

                </div>
                <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-m ccs-font-weight-semibold govuk-!-font-size-24">4 suppliers found</h2>


                    <ul class="govuk-list govuk-list--suppliers">
                        <li>
                            <h3 class="govuk-heading-m ccs-heading-link govuk-!-margin-bottom-2 ccs-font-weight-semibold govuk-!-font-size-22"><a href="4-5-7-9-10-framework-details">Apleona HSG Ltd.</a> <!--<strong class="govuk-tag govuk-tag--subtle">Expired</strong>--> </h3>
                            <ul class="list--inline govuk-body-s govuk-!-margin-bottom-2">
                                <li><strong>Framework ID:</strong> RM3719</li>
                                <li><strong>Start Date:</strong> 31/10/2016</li>
                                <li><strong>End Date:</strong> 31/10/2016</li>
                            </ul>
                            <p class="govuk-body-s">If you need guidance on any complex corporate finance matter, this agreement will make it easier to find and work with the right partner. It covers everything from long term policy planning to a shorter term response to external events. This Corporate Finance Services Agreement replaces two previous agreements - HM Treasury Corporate Financial Advice and ConsultancyONE - and its expanded scope will better meet the needs of the public sector.</p>
                        </li>
                        <li>
                            <h3 class="govuk-heading-m ccs-heading-link govuk-!-margin-bottom-2 ccs-font-weight-semibold govuk-!-font-size-22"><a href="1234r5t6">Another framework name HSG Ltd.</a></h3>
                            <ul class="list--inline govuk-body-s govuk-!-margin-bottom-2">
                                <li><strong>Framework ID:</strong> RM3719</li>
                                <li><strong>Start Date:</strong> 31/10/2016</li>
                                <li><strong>End Date:</strong> 31/10/2016</li>
                            </ul>
                            <p class="govuk-body-s">If you need guidance on any complex corporate finance matter, this agreement will make it easier to find and work with the right partner. It covers everything from long term policy planning to a shorter term response to external events. This Corporate Finance Services Agreement replaces two previous agreements - HM Treasury Corporate Financial Advice and ConsultancyONE - and its expanded scope will better meet the needs of the public sector.</p>
                        </li>
                        <li>
                            <h3 class="govuk-heading-m ccs-heading-link govuk-!-margin-bottom-2 ccs-font-weight-semibold govuk-!-font-size-22"><a href="1234r5t6">Building Materials and Associated Services</a></h3>
                            <ul class="list--inline govuk-body-s govuk-!-margin-bottom-2">
                                <li><strong>Framework ID:</strong> RM3719</li>
                                <li><strong>Start Date:</strong> 31/10/2016</li>
                                <li><strong>End Date:</strong> 31/10/2016</li>
                            </ul>
                            <p class="govuk-body-s">If you need guidance on any complex corporate finance matter, this agreement will make it easier to find and work with the right partner. It covers everything from long term policy planning to a shorter term response to external events. This Corporate Finance Services Agreement replaces two previous agreements - HM Treasury Corporate Financial Advice and ConsultancyONE - and its expanded scope will better meet the needs of the public sector.</p>
                        </li>
                        <li>
                            <h3 class="govuk-heading-m ccs-heading-link govuk-!-margin-bottom-2 ccs-font-weight-semibold govuk-!-font-size-22"><a href="1234r5t6">Campaign Solutions</a></h3>
                            <ul class="list--inline govuk-body-s govuk-!-margin-bottom-2">
                                <li><strong>Framework ID:</strong> RM3719</li>
                                <li><strong>Start Date:</strong> 31/10/2016</li>
                                <li><strong>End Date:</strong> 31/10/2016</li>
                            </ul>
                            <p class="govuk-body-s">If you need guidance on any complex corporate finance matter, this agreement will make it easier to find and work with the right partner. It covers everything from long term policy planning to a shorter term response to external events. This Corporate Finance Services Agreement replaces two previous agreements - HM Treasury Corporate Financial Advice and ConsultancyONE - and its expanded scope will better meet the needs of the public sector.</p>
                        </li>
                        <li>
                            <h3 class="govuk-heading-m ccs-heading-link govuk-!-margin-bottom-2 ccs-font-weight-semibold govuk-!-font-size-22"><a href="1234r5t6">Corporate Software Solutions</a></h3>
                            <ul class="list--inline govuk-body-s govuk-!-margin-bottom-2">
                                <li><strong>Framework ID:</strong> RM3719</li>
                                <li><strong>Start Date:</strong> 31/10/2016</li>
                                <li><strong>End Date:</strong> 31/10/2016</li>
                            </ul>
                            <p class="govuk-body-s">If you need guidance on any complex corporate finance matter, this agreement will make it easier to find and work with the right partner. It covers everything from long term policy planning to a shorter term response to external events. This Corporate Finance Services Agreement replaces two previous agreements - HM Treasury Corporate Financial Advice and ConsultancyONE - and its expanded scope will better meet the needs of the public sector.</p>
                        </li>
                    </ul>



                    <ul class="list--inline pagination govuk-body" role="navigation" aria-label="Pagination">
                        <li class="pagination__item pagination__item--previous">
                            <a href="#">
                            <span class="icon">
                                <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M6.7 0l1.4 1.4-4.3 4.3h13v2H3.9l4.2 4-1.4 1.4L0 6.7z" fill="#007194" fill-rule="evenodd"/></svg>
                            </span>
                                <span>Previous</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a href="#">
                                <span class="visuallyhidden">Page</span>1<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <span>…</span>
                        </li>
                        <li class="pagination__item">
                            <a href="#">
                                <span class="visuallyhidden">Page</span>40<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a href="#" rel="prev">
                                <span class="visuallyhidden">Page</span>41<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <span class="visuallyhidden">You’re currently on page</span>42<span class="visuallyhidden">of 123</span>
                        </li>
                        <li class="pagination__item">
                            <a href="#" rel="next">
                                <span class="visuallyhidden">Page</span>43<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a href="#">
                                <span class="visuallyhidden">Page</span>44<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <span>…</span>
                        </li>
                        <li class="pagination__item">
                            <a href="#">
                                <span class="visuallyhidden">Page</span>123<span class="visuallyhidden">of 123</span>
                            </a>
                        </li>
                        <li class="pagination__item pagination__item--next">
                            <a href="#">
                                <span>Next</span>
                                <span class="icon">
                                <svg width="17" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M10.1 0L8.7 1.4 13 5.7H0v2h12.9l-4.2 4 1.4 1.4 6.7-6.4z" fill="#007194" fill-rule="evenodd"/></svg>
                            </span>
                            </a>
                        </li>
                    </ul>



                </div>
            </div>



        </main>
    </div>



{% endblock %}
