{% extends 'base.html.twig' %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->

        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta </strong> <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/ZHV7B2S">feedback</a> will help us to improve it.
    </span>
            </p>
        </div>


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                {#<li class="govuk-breadcrumbs__list-item">#}
                {#<a class="govuk-breadcrumbs__link" href="#">Help and#}
                {#support</a>#}
                {#</li>#}
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    About CCS
                </li>
            </ol>
        </div>


        <!-- required wrapper 2 -->
        <main id="main-content" class="govuk-main-wrapper">


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl page-title">Generic</h1>

                    <p class="govuk-body-l">The Lead element is used for
                        displaying a summary of the page our visitors is about
                        to read. Keep the lead concise and under 270 characters
                        (including spaces) so that it can be displayed for
                        search engine results as the meta description.</p>


                    <div class="wysiwyg-content">

                        <h2>Available elements and styles (h2)</h2>

                        <p>There are a number of elements and styles which let
                            you give more meaning to the content.</p>

                        <p>The Paragraph elements are used for displaying the
                            content. The ideal standard is no more than 20 words
                            per sentence, five sentences per paragraph. Limit
                            each paragraph to a single idea as it makes it
                            easier to read.</p>

                        <p>Use <kbd>B</kbd> for content which has <strong>strong
                                importance</strong>. This let's Assistive
                            technology change the intonation when content is
                            read out loud. Don't use this for style changes.</p>

                        <p> Use <kbd>I</kbd> for content which has a <em>stressed
                                emphasis</em>. This let's Assistive technology
                            change the intonation when content is read out loud.
                            Don't use this for style changes.</p>


                        <h3>Blockquote</h3>

                        <blockquote><p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Vivamus magna. Cras in mi at
                                felis aliquet congue. Ut a est eget ligula
                                molestie gravida. Curabitur massa. Donec
                                eleifend, libero at sagittis mollis, tellus est
                                malesuada tellus, at luctus turpis elit sit amet
                                quam. Vivamus pretium ornare est.</p>
                        </blockquote>


                        <h3>Section break</h3>

                        <hr>


                        <h3>Unordered list</h3>

                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit.
                            </li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                        </ol>


                        <h3>Ordered list</h3>

                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit.
                            </li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                        </ul>


                        {#<h3>Tables</h3>#}

                        {#<table class="govuk-table">#}
                            {#<caption class="govuk-table__caption visuallyhidden">#}
                                {#Documents and days they were last updated.#}
                            {#</caption>#}
                            {#<thead class="govuk-table__head">#}
                            {#<tr class="govuk-table__row">#}
                                {#<th class="govuk-table__header" scope="col">#}
                                    {#Updated#}
                                {#</th>#}
                                {#<th class="govuk-table__header" scope="col">#}
                                    {#Title#}
                                {#</th>#}
                            {#</tr>#}
                            {#</thead>#}
                            {#<tbody class="govuk-table__body">#}
                            {#<tr class="govuk-table__row">#}
                                {#<td class="govuk-table__cell">#}
                                    {#<time class="govuk-list--documents__datetime">#}
                                        {#16/08/2018#}
                                    {#</time>#}
                                {#</td>#}
                                {#<td class="govuk-table__cell">#}
                                    {#<a href="{url to source}">Buyers Guide</a>#}
                                {#</td>#}
                            {#</tr>#}

                            {#</tbody>#}
                        {#</table>#}

                        {#<table>#}
                            {#<thead>#}
                            {#<tr>#}
                                {#<th>Tables</th>#}
                                {#<th align="center">Are</th>#}
                                {#<th align="right">Cool</th>#}
                            {#</tr>#}
                            {#</thead>#}
                            {#<tbody>#}
                            {#<tr>#}
                                {#<td>col 3 is</td>#}
                                {#<td align="center">right-aligned</td>#}
                                {#<td align="right">$1600</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>col 2 is</td>#}
                                {#<td align="center">centered</td>#}
                                {#<td align="right">$12</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td>zebra stripes</td>#}
                                {#<td align="center">are neat</td>#}
                                {#<td align="right">$1</td>#}
                            {#</tr>#}
                            {#</tbody>#}
                        {#</table>#}


                        <h3>Images with optional caption</h3>

                        <p>
                            <img class="size-full wp-image-3406 alignnone" src="https://via.placeholder.com/1280x720&text=Align:none" alt="">
                        </p>

                        <p>Setting the alignment to "None" will make the image
                            sit on the same baseline as the text and whilst the
                            image appears similar to the Left aligned option it
                            won't allow the text to wrap around it.</p>

                        <p>
                            <img class="size-full wp-image-3406 alignleft" src="https://via.placeholder.com/1280x720&text=Align:left" alt="">
                        </p>

                        <p>Left alignment wrap the text around the image so it
                            fits in with the flow of your content.</p>

                        <p>
                            <img class="size-full wp-image-3406 alignright" src="https://via.placeholder.com/1280x720&text=Align:right" alt="">
                        </p>

                        <p>Right alignment wrap the text around the image so it
                            fits in with the flow of your content.</p>

                        <p>
                            <img class="size-full wp-image-3406 aligncenter" src="https://via.placeholder.com/1280x720&text=Align:center" alt="">
                        </p>

                        <p>Center alignment will center the image in the line
                            and your text would go above or below it.</p>


                        <figure id="attachment_3406" class="wp-caption alignnone">
                            <img class="wp-image-3406 size-full" src="https://via.placeholder.com/1280x720" alt="" width="1616" height="966" srcset="https://via.placeholder.com/1280x720 1616w, https://via.placeholder.com/1280x720 768w, https://via.placeholder.com/1280x720 1292w, https://via.placeholder.com/1280x720 1520w" sizes="(max-width: 1616px) 100vw, 1616px">
                            <figcaption class="wp-caption-text">This is an
                                optional caption
                            </figcaption>
                        </figure>


                        <h3>Embedded video</h3>

                        <p class="flex-video widescreen">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </p>


                    </div>
                    {# End of wysiwyg content #}


                    <h3 class="govuk-heading-m">Accordion</h3>


                    <div class="govuk-accordion" data-module="accordion" id="accordion-default">

                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Accordion heading
        </span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">


                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Amet blanditiis ducimus
                                    ipsa maiores necessitatibus omnis
                                    praesentium, provident reprehenderit totam
                                    voluptas. Adipisci consequatur labore
                                    laborum magnam necessitatibus odio quod
                                    veniam, voluptatum.</p>


                            </div>
                        </div>


                    </div>







                    <div class="app-c-print-link">
                        <button onclick="window.print();" type="button" class="app-c-print-link__link" rel="alternate">Print this page</button>
                    </div>






                </div>


        </main>
    </div>

{% endblock %}
