{% extends 'base-home.html.twig' %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="--govuk-width-container">

        <!-- If your design requires them, you should place components such as breadcrumbs, back link and phase banner inside this wrapper so that they sit directly underneath the header. -->


        <!-- required wrapper 2 -->
        <main class="govuk-main-wrapper">


            <div class="apollo-island">
                <div class="govuk-width-container">

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">

                            <h2 class="govuk-heading-m govuk-!-font-size-24">How
                                to buy</h2>
                            <p class="govuk-body govuk-!-font-size-17featured">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Aspernatur assumenda at
                                distinctio dolorem fugit iusto minus, porro.
                                Aperiam culpa dicta maiores quia tenetur vero?
                                Asperiores eos nemo nihil quis tempore?</p>

                        </div>
                        <div class="govuk-grid-column-one-quarter">

                            <h2 class="govuk-heading-m govuk-!-font-size-24">
                                Frameworks</h2>
                            <p class="govuk-body govuk-!-font-size-17featured">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Blanditiis doloremque error
                                repudiandae ut. Aperiam cumque dolorem ex illo
                                ipsam iste iure minus nihil nulla quas qui
                                recusandae reiciendis similique, voluptate.</p>

                        </div>
                        <div class="govuk-grid-column-one-quarter">

                            <h2 class="govuk-heading-m govuk-!-font-size-24">
                                Upcoming deals</h2>
                            <p class="govuk-body govuk-!-font-size-17featured">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Adipisci aliquam aperiam
                                cupiditate eaque eos id magnam mollitia
                                necessitatibus, provident sunt tenetur vel
                                veritatis vitae! Ab cumque dolor exercitationem
                                in inventore.</p>

                        </div>
                        <div class="govuk-grid-column-one-quarter">

                            <h2 class="govuk-heading-m govuk-!-font-size-24">
                                Catalogues</h2>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="/sdgfg">Purchasing platform</a></p>
                            <p class="govuk-body govuk-!-font-size-16">Lorem
                                ipsum dolor sit amet, consectetur adipisicing
                                elit.</p>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="/sdgfg">Purchasing platform</a></p>
                            <p class="govuk-body govuk-!-font-size-16">Lorem
                                ipsum dolor sit amet, consectetur adipisicing
                                elit.</p>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="/sdgfg">Purchasing platform</a></p>
                            <p class="govuk-body govuk-!-font-size-16">Lorem
                                ipsum dolor sit amet, consectetur adipisicing
                                elit.</p>

                        </div>
                    </div>

                </div>
            </div>


            <div class="apollo-island apollo-island--emphasised">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">

                            <h2 class="govuk-heading-m">Latest news</h2>

                            <ul class="news-listing news-listing--compact">
                                <li class="news-listing__item">
                                    <picture>
                                        <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                    </picture>
                                    <div class="news-listing__item__caption">
                                        <div class="news-listing-meta">News | 9th November 2017</div>
                                        <h2 class="news-listing-title"><a href="/template/26-43-news-details">Further details on new Legal Services Marketplace revealed</a></h2>
                                    </div>
                                </li>
                                <li class="news-listing__item">
                                    <picture>
                                        <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                    </picture>
                                    <div class="news-listing__item__caption">
                                        <div class="news-listing-meta">News | 9th November 2017</div>
                                        <h2 class="news-listing-title"><a href="/template/26-43-news-details">Further details</a></h2>
                                    </div>
                                </li>
                                <li class="news-listing__item">
                                    <picture>
                                        <img src="/assets/images/news-thumb.png" alt="" aria-hidden="true">
                                    </picture>
                                    <div class="news-listing__item__caption">
                                        <div class="news-listing-meta">News | 9th November 2017</div>
                                        <h2 class="news-listing-title"><a href="/template/26-43-news-details">Further details on new Legal Services Marketplace revealed</a></h2>
                                    </div>
                                </li>
                            </ul>

                            <p><a href="/template/41-42-news-listing">Browse all news articles</a></p>


                        </div>
                        <div class="govuk-grid-column-one-half">

                            <h2 class="govuk-heading-m">Learn about CCS</h2>

                            <p class="flex-video widescreen">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </p>
                            <p><a href="sdgfdg">Browse all help and support
                                    guides</a></p>


                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>

{% endblock %}
